.settings-container {
    padding-top: 20px;
}

.item-left {
    width: auto;
    max-width: 200px;
}

.item-right {
    width: 70%;
    /* max-width: 200px; */
}

.simplekv-table {
    display: table;
    width: 100%;
}
.simplekv-table-row {
    display: table-row;
    &.separator {
        white-space: nowrap;
        height: 32px;
        padding: 10px;
    }
}
.simplekv-table-cell {
    display: table-cell;
}

.simplekv-table-cell-separator {
    width: 1000p;
    display: flex;
}

.separator-hline {
    border-bottom: 1px solid black;
    height: 1px;
    width: 100%;
    margin-left: 10px;
}

.simplekv-table-cell-separator {
    text-align: left;
    vertical-align: middle;
    align-items: center;
    padding: 10px;
}

