<div class="card-form-content-wrapper">
    <app-card-toolbar
        *ngIf="isPagesPresent"
        class="card-form-tab-selector"
        [actionList]="pageList"
        [isTabs]="true"
        (actionClick)="onPageClick($event)"
    >
    </app-card-toolbar>

    <div class="settings-container simplekv-table">
        <ng-container *ngFor="let item of inputsOnPage">
            <ng-container
                *ngTemplateOutlet="inputRowTemplate; context: { input: item }"
            ></ng-container>
        </ng-container>
    </div>
</div>

<ng-template #inputRowTemplate let-Input="input" let-hidden="hidden">
    <div
        class="simplekv-table-row separator"
        [hidden]="hidden"
        *ngIf="Input.controlType === types.separator"
    >
        <div class="simplekv-table-cell-separator">
            <b>{{ Input.label }}</b>
            <!-- <div style="position: relative;"> -->
                <div class="separator-hline"></div>
            <!-- </div> -->
        </div>

    </div>

    <div
        class="simplekv-table-row"
        [hidden]="hidden"
        *ngIf="Input.controlType !== types.separator"
    >
        <div class="simplekv-table-cell item-left">
            {{ Input.label }}
        </div>
        <div class="simplekv-table-cell item-right">
            <app-dynamic-input
                *ngIf="Input"
                [hidden]="Input.hidden"
                [input]="Input"
                [form]="form"
                [viewOpts]="viewOpts"
            >
            </app-dynamic-input>
        </div>
    </div>
</ng-template>
