<div [formGroup]="form"
     class="dynamic-input-wrapper checkbox">
    <label class="form-control-label checkbox"
        [ngClass]="{'disabled': disabled || readonly}">
    <input type="checkbox" *ngIf="disabled || readonly"
        [readonly]="readonly"
        [ngClass]="{'readonly': readonly}"
        [ngClass]="viewOpts.inputClass"
        [formControlName]="input.key"
        [id]="input.key"
        [disabled]=true>
    <input type="checkbox" *ngIf="!(disabled || readonly)"
        [formControlName]="input.key"
        [id]="input.key"
        [readonly]="readonly"
        [ngClass]="{'readonly': readonly}"
        [ngClass]="viewOpts.inputClass"
        (focus)="onFocus()"
        (blur)="onBlur()">
   <span class="app-icon app-icon-checkbox-square x-small"></span>{{input.label}}</label>
   <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{inputTooltip.message}}</p>
</div>

<!--
<div class="myclass">
    <input type="checkbox">
    <label>do you love Ananas?
    </label>
</div> -->
