<form
    class="form-signin"
    [formGroup]="loginFormGroup"
    (ngSubmit)="login()"
    *ngIf="!router.url.startsWith('/logout')"
>
    <div class="modal-header">
        <h4 class="modal-title">Вход в систему</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div *ngIf="invalidLogin" class="alert alert-danger">
                Неправильные Login или пароль.
            </div>
            <br />
            <div class="form-group">
                <label for="login">Login</label>
                <input
                    class="form-control"
                    type="text"
                    name="login"
                    formControlName="login"
                    id="login"
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    class="form-control"
                    type="password"
                    name="password"
                    formControlName="password"
                    id="password"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-dark"
            (click)="activeModal.hide()"
            *ngIf="isModal"
        >
            Закрыть
        </button>
        <button class="btn btn-primary" type="submit">Вход</button>
    </div>
</form>
<!--
<div class="another-services-block">
    <ul class="social-bar-list">
        <ng-container *ngFor="let item of this.socialButton">
            <ng-container
                *ngTemplateOutlet="socialLogin; context: { item: item }"
            ></ng-container>
        </ng-container>
    </ul>
</div>

<ng-template #socialLogin let-social="item">
    <div
        class="social-button-item"
        role="button"
        [id]="social.id"
    >
        <div class="social-icon" [ngClass]="social.iconClass">
            <div class="logo"></div>
        </div>
        <span class="social-title"
            ><div class="">
                {{social.title}}
            </div>
        </span>
    </div>
</ng-template> -->
