<div *ngIf="!message"
    [class]="'answer-record-wrapper answer-only'"
>
    <ng-container *ngTemplateOutlet="publicButtons"></ng-container>
    <ng-container *ngTemplateOutlet="editArea"></ng-container>
</div>

<div
    *ngIf="message"
    [class]="'answer-record-wrapper ' + messageClass"
    (mouseenter)="elementMouseEnter($event)"
    (mouseleave)="elementMouseLeave($event)"
>
    <div>
        <div class="comment-moderation-flags" *ngIf="isModerationEnabled">
            <!-- #{{ message.id }} -->
            <i
                class="fa fa-check"
                aria-hidden="true"
                *ngIf="message.approved === ACCEPTED"
            >
                Одобрено</i
            >
            <i
                class="fa fa-times"
                aria-hidden="true"
                *ngIf="message.approved === REJECTED"
            >
                Отказано в публикации</i
            >
            <i
                class="fa fa-question"
                aria-hidden="true"
                *ngIf="message.approved === UNDEFINED"
            >
                Модерация
            </i>
        </div>
        <div class="comment-text">
            {{ message.text }}
        </div>

        <app-simple-attaches-list
            *ngIf="message.attachedFiles && message.attachedFiles.length"
            [attachesFiles]="message.attachedFiles"
        ></app-simple-attaches-list>

        <div class="comment-footer">
            <div class="comment-user">{{ message.author.fullName }}</div>
            <div class="comment-date">{{ commentDateTime }}</div>
            <ng-container *ngTemplateOutlet="publicButtons"></ng-container>
            <ng-container *ngTemplateOutlet="moderationButtons"></ng-container>

            <span class="comment-corner" *ngIf="isLikeEnabled">
                <ng-container *ngTemplateOutlet="likeButtons"></ng-container>
            </span>
        </div>
    </div>

    <div *ngIf="reason" class="deleted-reason">
        Отказ: [{{ reasonDateTime }}] {{ reason.author.fullName }}:
        {{ reason.text }}
    </div>

    <ng-container *ngTemplateOutlet="editArea"></ng-container>
</div>





<ng-template #inputTemplate let-Input="input" let-opts="opts">
    <app-dynamic-input
        *ngIf="Input"
        [hidden]="Input.hidden"
        [input]="Input"
        [viewOpts]="opts"
        (keydown)="onKeyDown($event)"
        [form]="form"
    >
    </app-dynamic-input>
</ng-template>

<ng-template #moderationButtons>
    <button
        *ngIf="
            isRejectable &&
            isModerationEnabled &&
            !isEditActive &&
            !message?.deleted
        "
        type="button"
        class="comment-button btn btn-sm btn-danger"
        (click)="deleteClick($event)"
    >
        Отказать
    </button>
    <button
        *ngIf="
            isApprovable &&
            isModerationEnabled &&
            !isEditActive &&
            !message?.deleted
        "
        type="button"
        class="comment-button btn btn-sm btn-success"
        (click)="approveClick($event)"
    >
        Одобрить
    </button>
</ng-template>

<ng-template #publicButtons>
    <button
        *ngIf="isAnswerable && !isEditActive"
        type="button"
        class="comment-button btn btn-sm btn-success"
        (click)="addClick($event)"
    >
        Ответить
    </button>
</ng-template>

<ng-template #likeButtons>
    <div class="comment-count liked"
        [ngClass]="{'enabled': isLikeable }"
        (click)="isLikeable ? clickLike($event) : null"
    >
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        {{ message.likesCount }}
    </div>
    <div class="comment-count disliked"
        [ngClass]="{'enabled': isLikeable }"
        (click)="isLikeable ? clickDislike($event): null"
    >
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        {{ message.dislikesCount }}
    </div>
</ng-template>

<ng-template #editArea>
<div *ngIf="isEditActive" class="active-wrapper">
    <div class="card-block-level1">
        <div class="card-item-level1"
            [ngClass]="{ 'item-a-left' : isAttachEnabled, 'item-a-full' : !isAttachEnabled }"
        >
            <ng-container
                *ngTemplateOutlet="
                    inputTemplate;
                    context: {
                        input: inputs[0],
                        opts: { inputClass: 'textarea-answer' }
                    }
                "
            ></ng-container>
        </div>
        <div class="card-item-level1 item-a-right" *ngIf="isAttachEnabled">
            <ng-container
                *ngTemplateOutlet="
                    inputTemplate;
                    context: {
                        input: inputs[1],
                        opts: { hideLabel: false }
                    }
                "
            ></ng-container>
        </div>
    </div>

    <button
        type="button"
        class="btn btn-sm btn-primary"
        (click)="sendClick($event)"
    >
        Отправить
    </button>
    <button
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="cancelClick($event)"
    >
        Отменить
    </button>
</div>

</ng-template>
