.answer-record-wrapper {
    /* border: 1px solid gray; */
    /* border-left: 1px solid gray; */

}
/* .answer-record-wrapper.active {
        background-color: lightgray;
        padding-top: 5px;
        padding-bottom: 5px;
} */

.active-wrapper {
    margin-left: 5px;
}


.deleted-reason {
    padding-left: 20px;
    font-size: smaller;
}

.item-a-left {
    padding-right: 10px;
    width: 70%;
    min-width: 300px;
}
.item-a-right {
    padding-left: 10px;
    min-width: 300px;
    width: 30%;
}

.item-a-full {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 300px;
    width: 100%;
}

/* Inline таблица стилей #10 | http://localhost:4200/appeal/2 */


/* Inline таблица стилей #12 | http://localhost:4200/appeal/2 */

.comment-footer {
    font-size: 13px;
    color: #949393;
    margin-top: 10px;
    vertical-align: middle;
    overflow: hidden;
    display: flex;
}

.comment-user {
    margin-right: 10px;
    align-self: center;
}

.comment-date {
    margin-right: 10px;
    flex-basis: 10;
    align-self: center;
}
.comment-button {
    cursor: pointer;
}
.comment-button.answer {
    margin-right: 10px;
    flex-basis: 10;
    align-self: center;
    font-size: 13px;
    color: #656464;
    text-decoration: none;
    margin: 0 10px;
    padding: 0 20px;
    border-radius: 5px;
    background: cornsilk;
    line-height: 1.5;
}


.answer-record-wrapper {
    /* padding-top: 2px;
    padding-bottom: 2px; */
    border-radius: 3px;
    /* padding-left: 10px;
    padding-right: 10px; */
    color: #000;
    margin-bottom: 10px;
    padding: 12px 20px;
    overflow: hidden;
    background: #f5f5f5;
}
.active {
    background-color: cornsilk;
}
/* Inline таблица стилей #12 | http://localhost:4200/appeal/2 */

.comment-text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", Sans-serif;
}

/* Inline таблица стилей #14 | http://localhost:4200/appeal/2 */

.comment-corner {
    font-size: 18px;
    font-weight: 500;
    color: #949393;
    /* line-height: 40px; */
    float: right;
    display: flex;
    margin-left: auto;
    order: 2;
}

.comment-count {
    padding-left: 10px;
}

.comment-moderation-flags > .fa-check {
    color: green;
}

.comment-moderation-flags > .fa-times {
    color: red;
}

.comment-moderation-flags > .fa-question {
    color: rgb(62, 152, 194);
}

.answer-record-wrapper.rejected.moderation {
    background-color: antiquewhite;
    border: 1px solid red;
}
.answer-record-wrapper.deleted {
    background-color: antiquewhite;
    border: 1px solid red;
}
.answer-record-wrapper.moderation.no-approved.deleted {
    background-color: antiquewhite;
    border: 1px solid red;
}

.answer-record-wrapper.moderation.no-approved {
    background-color: lightblue;
}

/* Inline таблица стилей #12 | http://localhost:4200/appeal/1 */

.comment-moderation-flags {
    display: flex;
    float: right;
}

.comment-button {
    visibility: hidden;
    margin-left: 5px;
    line-height: 1.1;
}

.active > .comment-button.btn.btn-sm.btn-danger {
    visibility: visible;
}

.active .comment-button.btn.btn-sm {
    visibility: visible;
}

.answer-only .comment-button.btn.btn-sm {
    visibility: visible;
}
/*
  .active .comment-button.btn.btn-sm {
    visibility: visible;
  } */



.comment-count.enabled {
    cursor: pointer;
}
.comment-count.enabled:hover {
    color: cornflowerblue;
}
