<div class="card-form-content-wrapper">
    <div class="nav-tabs-wrapper" *ngIf="isPagesPresent">
        <app-card-toolbar
            class="card-form-tab-selector"
            [actionList]="pageList"
            [isTabs]="true"
            (actionClick)="onPageClick($event)"
        >
        </app-card-toolbar>
    </div>

    <ng-container *ngFor="let item of inputsOnPage">
        <app-dynamic-input
            *ngIf="!item.hidden"
            [input]="item"
            [form]="form"
            [readonly]="!editMode"
        >
        </app-dynamic-input>
    </ng-container>

    <div class="page-container" *ngIf="activePage===filePageIndex">
        <!-- <file-pond
            #myPond
            [options]="pondOptions"
        >
        </file-pond> -->
        <app-filepond-gql
            #myPond
            [files]="pondFiles"
            (oninit)="pondHandleInit()"
            (onaddfile)="pondHandleAddFile($event)"
        >
        </app-filepond-gql>



    </div>

    <div class="page-container" *ngIf="activePage===answersPageIndex">
        <accordion>
            <accordion-group *ngFor="let answer of appointment?.answers">
                <div
                    accordion-heading
                    class="btn btn-info"
                    [innerHTML]="getAnswerStatus(answer.status)"
                ></div>
                <div>
                    <div class="form-group">
                        <label>Состояние: </label>
                        <div [innerHTML]="getAnswerStatus(answer.status)"></div>
                    </div>
                    <div class="form-group">
                        <label>Дата: </label>
                        <div
                            class="form-control"
                            [innerText]="answer.date | date: 'dd.MM.yyyy'"
                        ></div>
                    </div>
                    <div class="form-group">
                        <label>Ответ: </label>
                        <div [innerHTML]="answer.html"></div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
