<div [formGroup]="form" class="dynamic-input-wrapper">
    <accordion [isAnimated]="true" [closeOthers]="false">
        <accordion-group *ngFor="let block of this.systems; let i = index"
            [panelClass]="customClass()"
            [isOpen]="block.isOpen"
            (isOpenChange)="onOpenChange(block, $event)"
        >
        <button class="accordion-heading-flex btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="accordion-heading-btn pull-left float-left">{{block.title}}</div>

            <div class="claims-current pull-left access-full" *ngIf="block.allChecked">Полный доступ</div>
            <div class="claims-current pull-left access-part" *ngIf="block.hasChecked && !block.allChecked">Частичный доступ</div>
            <div class="claims-current pull-left access-none" *ngIf="block.noChecked">Без доступа</div>

            <!-- <span class="badge badge-secondary float-right pull-right" *ngIf="1"
                (click)="deleteClick($event)"
            >Удалить</span> -->
          </button>
            <div class="access-fastbuttons" *ngIf="!readonly && (block.items.length > 1)">
            <button class="access-btn btn btn-sm btn-outline-secondary"
                (click)="blockToggle(block, true)"
            >Установить полный доступ</button>
            <button class="access-btn btn btn-sm btn-outline-secondary"
                (click)="blockToggle(block, false)"
            >Без доступа</button>
            </div>
            <ng-container *ngTemplateOutlet="claimsBlock;context:{block:block}"></ng-container>
        </accordion-group>
    </accordion>

    <!-- <input class="form-control m-font"
               [formControlName]="input.key"
               [id]="input.key"
               [readonly]="true"
               [ngClass]="{'readonly': true}"
    > -->
    <p
        class="alert alert-danger"
        *ngIf="inputTooltip.visible && inputTooltip.message"
    >
        {{ inputTooltip.message }}
    </p>
</div>

<ng-template #claimsBlock let-block="block">
    <div class="claimselect-claiminfo" *ngFor="let cinfo of block.items">
        <div class="claimselect-claiminfo-title"
            (click)="claimToggle(cinfo)"
        >{{ cinfo.description }}</div>
        <div *ngFor="let item of cinfo.claims">
            <label
                class="form-control-label checkbox"
                [ngClass]="{ disabled: disabled || readonly }"
            >
                <input
                    type="checkbox"
                    [readonly]="readonly"
                    [ngClass]="{ readonly: readonly }"
                    [ngClass]="viewOpts.inputClass"
                    [checked]="item.checked"
                    [disabled]="item.disabled"
                    (click)="onChange(item, $event)"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
                />
                <span class="app-icon app-icon-checkbox-square x-small"></span
                >{{ item.title }}</label
            >
        </div>
    </div>
</ng-template>
