.claims-current {
    color: gray;
    margin-left: 10px;
    font-size: 12px;
    text-transform: none;
    text-decoration: none;
}
.claims-current.access-full {
    color: green;
}
.claims-current:hover {
    text-decoration: none;
}
.accordion-heading-flex {
    display: flex;
    align-items: center;

}

.accordion-heading-btn {
    margin-right: 20px;
}
.claimselect-claiminfo-title {
    font-size: larger;
}
.claimselect-claiminfo-title:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0056b3;
}

.access-fastbuttons {
    display: flex;
    margin-bottom: 10px;
}
.access-btn {
    margin-left: 5px;
    margin-right: 5px;
    line-height: 10px;
}
