<!--<p>{{section?.title}}</p>-->

<ng-container *ngIf="section">
    <ng-container *ngFor="let item of section.urls"
    >
        <a class="link" [href]="item.url">
            {{item.title}}
        </a><br>
    </ng-container>
</ng-container>
