<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{label}}</label>
    <div [ngClass]="{'required': isRequired, 'disabled': disabled}">
        <textarea class="form-control m-font"
               [formControlName]="input.key"
               [id]="input.key"
               [readonly]="readonly"
               [ngClass]="{'readonly': readonly}"
               [ngClass]="viewOpts.inputClass"
               [placeholder]="placeholder"
               (focus)="onFocus()"
               (blur)="onBlur()"
               (input)="onInput($event)"
               autocomplete="off">
        </textarea>
        <div class="textareacounter" *ngIf="isFocused && !readonly" >
            <span>{{getCounterLabel()}}</span>
        </div>
    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{inputTooltip.message}}</p>
</div>
