<div class="card-page-answers-wrapper">
    <p></p>
    <div
        *ngIf="options.addAnswerEnable && !options.readOnlyMode"
        class="root-answer-element"
    >
        <app-comment-record
            [message]="null"
            [addToParent]="parentId"
            [isAddForever]="true"
            [addToParentType]="parentType"
            [level]="0"
            [addedRecordFn]="onAddRecord.bind(this)"
            [mouseTrack]="mouseTrack"
            [isModerationEnabled]="false"
            [isAttachEnabled]="isUserLogged && !options.readOnlyMode && options.isCommentsAttaches"
            [isAnswerEnabled]="isUserLogged"
            (editExpanded)="editMessageExpanded($event)"
        ></app-comment-record>
    </div>

    <div *ngIf="isUpdate" class="spinner-border my-2 mx-2" role="status">
        <span class="sr-only"></span>
    </div>

    <div
        *ngIf="!isUpdate && messages && (messages.length === 0)"
        class="message-no-answers"
    >
        <p>Ответы отсутствуют.</p>
    </div>
    <div
        *ngFor="let message of messages"
        class="message-answer-element"
        [ngStyle]="{ 'padding-left.px': (10 * message.level) }"
    >
        <app-comment-record
            [message]="message"
            [addToParent]="message.id"
            [addToParentType]="parenttypes.message"
            [level]="message.level"
            [mouseTrack]="mouseTrack"
            [addedRecordFn]="options.readOnlyMode ? null : onAddRecord.bind(this)"
            [likeRecordFn]="options.readOnlyMode ? null : onLikeRecord.bind(this)"
            [isModerationEnabled]="!options.readOnlyMode && !options.moderationDisabled"
            [isAnswerEnabled]="isUserLogged && !options.readOnlyMode"
            [isAttachEnabled]="isUserLogged && !options.readOnlyMode && options.isCommentsAttaches"
            (approveClicked)="options.readOnlyMode ? null : onApproveClick(message.id, $event)"
            (editExpanded)="options.readOnlyMode ? null : editMessageExpanded($event, message)"
        ></app-comment-record>
    </div>
</div>
