<!--<div [formGroup]="form"-->
<!--     class="d-flex"-->
<!--&gt;-->
<!--    <div [class]="columnsCssClass">-->
<!--        <div class="row">-->
<!--            <div [class]="cellCssClass +' text-nowrap overflow-hidden'">-->

<!--                <label class="form-control-label" [hidden]="!isLabelVisible()"-->
<!--                       [attr.for]="input.key">{{input.label}}</label>-->

<!--                <div *ngIf="readonly" [ngClass]="{'required': isRequired, 'disabled': disabled}">-->
<!--                    <input class="e-input e-small e-bigger" [readonly]="readonly"-->
<!--                           [attr.disabled]="readonly ? true : null"-->
<!--                           [ngClass]="{'readonly': readonly}" [ngClass]="viewOpts.inputClass"-->
<!--                           [placeholder]="placeholder"-->
<!--                           value="{{currentValue}}" autocomplete="off">-->
<!--                    <div class="textareacounter" *ngIf="isFocused && !readonly">-->
<!--                        <span>{{getCounterLabel()}}</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="app-select" *ngIf="!readonly" [ngClass]="{'required': isRequired, 'disabled': disabled}">-->
<!--                    <ejs-dropdownlist-->
<!--                        [ngClass]="{'readonly': readonly, 'placeholder': !hasValue()}"-->
<!--                        [ngClass]="viewOpts.inputClass"-->
<!--                        [fields]='fields'-->
<!--                        [id]="input.key"-->
<!--                        [placeholder]="placeholder"-->
<!--                        [dataSource]="input.options"-->
<!--                        [formControlName]="input.key"-->
<!--                        (focus)="onFocus()"-->
<!--                        (blur)="onBlur()"-->
<!--                        (change)="onInputChanged()"-->
<!--                    >-->
<!--                    </ejs-dropdownlist>-->
<!--                </div>-->
<!--            </div>-->
<!--            <button *ngIf="viewOpts?.isClearButtonVisible ?? false" type="button" class="close px-2 position-relative" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{ input.label }}</label>

    <div [ngClass]="{'required': isRequired, 'disabled': disabled}"
         class="d-flex"
    >
        <span class="w-100 d-inline-flex"
              [ngClass]="{'required': isRequired}"
        >
            <ejs-dropdownlist
                class="w-100"
                [enabled]="!readonly && !disabled"
                [fields]='fields'
                [id]="input.key"
                [placeholder]="placeholder"
                [dataSource]="input.options"
                [formControlName]="input.key"
                (focus)="onFocus()"
                (blur)="onBlur()"
                (change)="onInputChanged()"
            >
            </ejs-dropdownlist>
            <app-input-clear-button *ngIf="viewOpts?.isClearButtonVisible ?? false"
                (click)="onClearButtonClick($event)"
            >
            </app-input-clear-button>
        </span>
    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{ inputTooltip.message }}</p>
</div>
