
<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key + '1'">{{label}}</label>
    <div class="d-flex ">
        <div class="mr-2">
            <ejs-numerictextbox
                [placeholder]="placeholder"
                [ngClass]="viewOpts.inputClass"
                [readonly]='readonly'
                [id]="input.key + '1'"
                [min]="input.minValue"
                [max]="input.maxValue"
                [format]="getFormat()"
                [locale]="'ru'"
                [cssClass]="readonly?'e-style-disabled':'readonly'"
                [value]="getValuePart(0)"
                (change)="onChange(0, $event)"
            ></ejs-numerictextbox>
        </div>
        -
        <div class="ml-2">
            <ejs-numerictextbox
                [placeholder]="placeholder"
                [ngClass]="viewOpts.inputClass"
                [readonly]='readonly'
                [id]="input.key + '2'"
                [min]="input.minValue"
                [max]="input.maxValue"
                [format]="getFormat()"
                [locale]="'ru'"
                [cssClass]="readonly?'e-style-disabled':'readonly'"
                [value]="getValuePart(1)"
                (change)="onChange(1, $event)"
            ></ejs-numerictextbox>
        </div>
        <!-- <input class="form-control m-font"
               [formControlName]="input.key"
               [id]="input.key"
               [readonly]="readonly"
               [ngClass]="{'readonly': readonly}"
               [ngClass]="viewOpts.inputClass"
               [placeholder]="placeholder"
               (focus)="onFocus()"
               (blur)="onBlur()"
               (input)="onInput($event)"
               (keydown)="inputCheck($event)"
               autocomplete="off"> -->
        <!-- <div class="textareacounter" *ngIf="isFocused && !readonly" >
            <span>{{getCounterLabel()}}</span>
        </div> -->
    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{inputTooltip.message}}</p>
</div>
