@using System;
@using BIT.MyCity.Database
@using BIT.MyCity.Managers
@using System.Linq

@{
  var appeal = (Appeal)Model.Appeal;

  var subsystemKey = appeal?.Subsystem?.UID;
  //var subsystemName = Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.name.");
  var siteUrl = Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralBaseUrl);

  var appealUrlTemplate = (string)Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.appeal_url_template.");
  var appealUrl = string.IsNullOrWhiteSpace(appealUrlTemplate)
    ? string.Empty
    : appealUrlTemplate.Replace("{appealId}", (appeal.Id).ToString());

  string message;

  var siteStatus = (int)Model.SiteStatus;

  switch (siteStatus)
  {
    case 0: // SiteStatus.Sent:
            message = "Ваше обращение зарегистрировано в системе \"Электронная приемная граждан\"";
      break;
    case 1:// SiteStatus.Registered:
      var appealNumber =
        $"{appeal?.ExtNumber} {(appeal?.ExtDate == null ? string.Empty : appeal.ExtDate.Value.ToLocalTime().ToString("от dd.MM.yyyy"))}";
            message = $"Ваше обращение Зарегистрировано в межведомственной системе электронного документооборота и делопроизводства \"Дело\" за № {appealNumber}";
      break;
    //case 2: // SiteStatus.UnderСonsideration:
    //  message = $"Ваше обращение принято к рассмотрению";
    //  break;
    case 3: // SiteStatus.DirectedByCompetence:
            message = $"Вашему обращению присвоен статус \"Направлено в ФОИВ\" в межведомственной системе электронного документооборота и делопроизводства \"Дело\"";
     break;
    case 4: // SiteStatus.UnderСonsideration2:
            message = $"Вашему обращению присвоен статус \"Направлено по компетенции\" в межведомственной системе электронного документооборота и делопроизводства \"Дело\"";
     break;
    case 5: // SiteStatus.Answered:
            message = $"Вашему обращению присвоен статус \"Дан ответ\" в межведомственной системе электронного документооборота и делопроизводства \"Дело\"";
     break;
    case 6: // SiteStatus.NotAppeal:
      message = $"Вашему обращению присвоен статус \"Не является обращением\"";
      break;
    //case 7: // SiteStatus.Extended:
    //  message = $"Срок рассмотрения Вашего обращения продлен";
    //  break;
    //case 8: // SiteStatus.TransferredToDeputy:
    //  message = $"Ваше обращение передано депутату";
    //  break;
    //case 9: // SiteStatus.ConsiderationTerminated:
    //  message = $"Рассмотрение Вашего обращения прекращено";
    //  break;
    default:
      message = Model.SiteStatusName;
      break;
  }

  var authorName = (appeal?.AuthorName ?? appeal?.Author?.FullName ?? appeal?.Author?.UserName);

  //var executor = appeal?.AppealExecutors?.FirstOrDefault();
}

<h1>Здравствуйте, @authorName</h1>
@if (siteStatus > 1 && siteStatus != 5)
{
    <h2>Обновлена информация по Вашему Обращению от @(appeal?.CreatedAt.ToLocalTime().ToString("dd.MM.yyyy")) г.</h2>
}
<h2>@message</h2>

<table>
    @if (appeal?.ExtNumber != null)
    {
        var extDate = appeal?.ExtDate;

        <tr>
            <td valign="top">Регистрационный номер:</td>
            <td style="font-weight: bold;">№&nbsp;@(appeal.ExtNumber ?? "б/н")@(extDate.HasValue ? extDate.Value.ToLocalTime().ToString(" от dd.MM.yyyy") : string.Empty)</td>
        </tr>

        @*<tr>
    <td valign="top">Исполнитель поручения:</td>
    <td style="font-weight: bold;">@(executor?.Department ?? executor?.Organization ?? string.Empty)</td>
    </tr>*@
    }
    <tr>
        <td valign="top">Адресат:</td>
        <td style="font-weight: bold;">@(Model.Appeal?.Rubric?.Name ?? "Не указана")</td>
    </tr>
    @*<tr>
    <td valign="top">Территория:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Territory?.Name ?? "Не указана")</td>
    </tr>
    <tr>
    <td valign="top">Регион:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Region?.Name ?? "Не указан")</td>
    </tr>*@
    <tr valign="top">
        <td>Тема:</td>
        <td style="font-weight: bold;">@(Model.Appeal?.Topic?.Name ?? "Не указана")</td>
    </tr>
    <tr valign="top">
        <td>Описание:</td>
        <td>@(Model.Appeal?.Description ?? "Без описания")</td>
    </tr>
</table>
<br />
<p>
    Информация о ходе рассмотрения обращения будет поступать на адрес электронной почты, указанный при отправке обращения.
    В случае авторизации с помощью учетной записи портала госуслуг информация о ходе рассмотрения будет доступна в личном кабинете портала
    <a href="@siteUrl">&quot;@Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralMainTitle)&quot;.</a>
</p>
<br />
<p>@(((DateTime)Model.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy HH:mm.ss"))</p>
<br />
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
