@using System;
@using BIT.MyCity.Managers

@{
  string subsystemKey = Model.Appeal?.Subsystem?.UID;
  string subsystemName = Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.name.");
  string apiUrl = Model.SettingsManager.SettingValue(SettingsKeys.SystemApiBaseUrl);
  string appealUrl = string.IsNullOrWhiteSpace(apiUrl) ? null : $"{apiUrl.TrimEnd('\\').TrimEnd('/')}/{(subsystemKey == "citizens" ? "appeal" : "appeal-ul")}/{Model.Appeal?.Id}";
}

<h1>Здравствуйте, @(Model.User?.FullName ?? Model.User?.UserName ?? string.Empty)</h1>
<p>
  Это письмо направлено Вам, так как в системе &quot;@Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralMainTitle)&quot;
  (подсистема &quot;@subsystemName&quot;)
  зарегистрировано новое <a href="@appealUrl">Обращение № @Model.Appeal?.Id от @(((DateTime)Model.Appeal.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy")) г.</a>:
</p>
<table>
  <tr>
    <td valign="top">Автор:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Author?.FullName ?? Model.Appeal?.Author?.UserName ?? "Не указано")</td>
  </tr>
  <tr>
    <td valign="top">Рубика: </td>
    <td style="font-weight: bold;">@(Model.Appeal?.Rubric?.Name ?? "Не указана")</td>
  </tr>
  <tr>
    <td valign="top">Территория:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Territory?.Name ?? "Не указана")</td>
  </tr>
  <tr>
    <td valign="top">Регион:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Region?.Name ?? "Не указан")</td>
  </tr>
  <tr valign="top">
    <td>Тема:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Topic?.Name ?? "Не указана")</td>
  </tr>
  <tr valign="top">
    <td>Описание:</td>
    <td>@(Model.Appeal?.Description ?? "Без описания")</td>
  </tr>
</table>
<br />
<br />
<p>Дата регистрации обращения : @(((DateTime)Model.Appeal.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy HH:mm.ss")) (время серверное)</p>
<br />
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
