@using System;
@using BIT.MyCity.Database
@using BIT.MyCity.Managers

@{
    var appeal = (Appeal)Model.Appeal;

    var subsystemKey = appeal?.Subsystem?.UID;
    //var subsystemName = subsystemKey == "citizens" ? "http://newletters.biz-it.ru/citizen/" : Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.name.");
    var siteUrl = Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralBaseUrl);

    int siteStatus;
    try
    {
      siteStatus = (int) Model.SiteStatus;
    }
    catch
    {
      siteStatus = 0;
    }

    string message;

    switch (siteStatus)
    {
      case 0: // SiteStatus.Sent:
        message = "Ваше сообщение зарегистрировано на портале";
        break;
      case 1: // SiteStatus.Registered:
        message = "Ваше сообщение зарегистрировано";
        break;
      //case 2: // SiteStatus.UnderСonsideration:
      //  message = "Ваше обращение принято к рассмотрению";
      //  break;
      //case 3: // SiteStatus.DirectedByCompetence:
      //  message = "Ваше обращение направлено по компетенции";
      //  break;
      //case 4: // SiteStatus.UnderСonsideration2:
      //  message = "Ваше обращение принято к рассмотрению";
      //  break;
      //case 5: // SiteStatus.Answered:
      //  message = "Ваше обращение рассмотрено";
      //  break;
      case 6: // SiteStatus.NotAppeal:
        message = "Вашему сообщению присвоен статус \"Не требует ответа\"";
        break;
      //case 7: // SiteStatus.Extended:
      //  message = "Срок рассмотрения Вашего обращения продлен";
      //  break;
      //case 8: // SiteStatus.TransferredToDeputy:
      //  message = "Ваше обращение передано депутату";
      //  break;
      //case 9: // SiteStatus.ConsiderationTerminated:
      //  message = "Рассмотрение Вашего обращения прекращено";
      //  break;
      default:
        message = Model.SiteStatusName;
        break;
    }

    message = $"{message.TrimEnd('.')}.";

    var authorName = appeal.AuthorName;

    string messageText;

    try
    {
      var msg = Model.Message as Message;

      messageText = msg?.Text;
    }
    catch
    {
      messageText = null;
    }

}

<h1>Здравствуйте, @authorName!</h1>

<h2>Обновлена информация по Вашему Сообщению от @(appeal?.CreatedAt.ToLocalTime().ToString("dd.MM.yyyy")) г.</h2>

<h2>@message</h2>

<p><b>Описание:</b>&nbsp;@(Model.Appeal?.Description ?? "Без описания")</p>

@if (!string.IsNullOrWhiteSpace(messageText))
{
  <p><b>Ответ:</b>&nbsp;@messageText</p>
}

<br />
<p>
  Информация о ходе рассмотрения Вашего сообщения будет поступать на адрес электронной почты, указанный при отправке.
  В случае авторизации с помощью учетной записи портала госуслуг информация о ходе рассмотрения будет доступна в личном кабинете сайта
  <a href="@siteUrl">&quot;@(subsystemKey == "citizens" ? "Электронная приемная граждан Ростовской области" : Model.SettingsManager?.SettingValue(SettingsKeys.SystemWebGeneralMainTitle))&quot;.</a>
</p>
<br />
<p>@(((DateTime)Model.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy HH:mm.ss"))</p>
<br />
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
