@using System;
@using BIT.MyCity.Database
@using BIT.MyCity.Managers
@using BIT.MyCity.Subsystems

@{
    var appeal = (Appeal)Model.Appeal;

  if (appeal == null)
  {
    throw new ArgumentNullException(nameof(Appeal));
  }

    var subsystemKey = appeal?.Subsystem?.UID;
    //string subsystemName = Model.SettingsManager.SettingValue($"subsystem.{(subsystemKey == SubsystemOrganizationAppeals.BaseSystemKey ? SubsystemOrganizationAppeals.SettingsKey.Name : SubsystemCitizenAppeals.SettingsKey.Name)}");

    var subsystemName = subsystemKey == "organizations"
      ? "Электронная приемная юридических лиц и индивидуальных предпринимателей"
      : "Электронная приемная граждан";


    string apiUrl = Model.SettingsManager.SettingValue(SettingsKeys.SystemApiBaseUrl);
    var appealUrl = string.IsNullOrWhiteSpace(apiUrl) ? null : $"{apiUrl.TrimEnd('\\').TrimEnd('/')}/appeal-feedback/{appeal.Id}";
}

<h1>Здравствуйте, @(Model.User?.FullName ?? Model.User?.UserName ?? string.Empty)!</h1>
<p>
  Это письмо направлено Вам, так как в системе &quot;@subsystemName&quot; 
  зарегистрировано новое <a href="@appealUrl">Сообщение обратной связи № @appeal.Id от @(((DateTime)appeal.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy")) г.</a>:
</p>
<table>
  <tr>
    <td valign="top">Автор:</td>
    <td style="font-weight: bold;">@(appeal.AuthorName ?? appeal.Author?.FullName ?? appeal.Author?.UserName ?? "Не указано")</td>
  </tr>
  @if (appeal.Rubric != null)
  {
    <tr>
      <td valign="top">Рубика: </td>
      <td style="font-weight: bold;">@(appeal.Rubric.Name ?? "Без названия")</td>
    </tr>
  }
  @if (appeal.Territory != null)
  {
    <tr>
      <td valign="top">Территория:</td>
      <td style="font-weight: bold;">@(appeal.Territory.Name ?? "Без названия")</td>
    </tr>
  }
  @if (appeal.Region != null)
  { 
    <tr>
      <td valign="top">Регион:</td>
      <td style="font-weight: bold;">@(appeal.Region.Name ?? "Без названия")</td>
    </tr>
  }
  @if (appeal.Topic != null)
  { 
    <tr valign="top">
      <td>Тема:</td>
      <td style="font-weight: bold;">@(appeal.Topic.Name ?? "Не указана")</td>
    </tr>
  }
  <tr valign="top">
    <td>Описание:</td>
    <td>@(appeal.Description ?? "Без описания")</td>
  </tr>
</table>
<br />
<br />
<p>@DateTime.Now.ToString("dd.MM.yyyy HH:mm.ss")</p>
<br />
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
