@using System;
@using BIT.MyCity.Managers

@{
  var subsystemKey = Model.Appeal?.Subsystem?.UID;
  var subsystemName = Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.name.");
  var siteUrl = Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralBaseUrl);
  var appealUrlTemplate = (string)Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.appeal_url_template.");
  var appealUrl = string.IsNullOrWhiteSpace(appealUrlTemplate)
    ? string.Empty
    : appealUrlTemplate.Replace("{appealId}", ((long)Model.Appeal.Id).ToString());
}

<h1>Здравствуйте, @(Model.Appeal?.Author?.FullName ?? Model.Appeal?.Author?.UserName)</h1>

<h2>Обновлена информация по Вашему <a href="@appealUrl">Обращению № @Model.Appeal?.Id от @(((DateTime)Model.Appeal?.CreatedAt).ToString("dd.MM.yyyy")) г.</a></h2>

<h2>
  Публикация Вашего обращения на портале <a href="@siteUrl">&quot;@Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralMainTitle)&quot;.</a> отклонена модератором:
</h2>

<p><b>Причина отказа:</b>&nbsp;&nbsp;@(Model.Appeal?.RejectionReason)</p>

<table>
  <tr>
    <td valign="top">Рубика: </td>
    <td style="font-weight: bold;">@(Model.Appeal?.Rubric?.Name ?? "Не указана")</td>
  </tr>
  <tr>
    <td valign="top">Территория:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Territory?.Name ?? "Не указана")</td>
  </tr>
  <tr>
    <td valign="top">Регион:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Region?.Name ?? "Не указан")</td>
  </tr>
  <tr valign="top">
    <td>Тема:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Topic?.Name ?? "Не указана")</td>
  </tr>
  <tr valign="top">
    <td>Описание:</td>
    <td>@(Model.Appeal?.Description ?? "Без описания")</td>
  </tr>
</table>
<p>
  Отклонение в публикации на портале ЭПГ РО не означает остановку рассмотрения Вашего обращения.
  Обращение будет рассмотрено в сроки, установленные Федеральным законом от 02.05.2006 № 59-ФЗ
  &quot;О порядке рассмотрения обращений граждан Российской Федерации&quot; ведомством, в адрес которого направлено обращение
</p>
<br />
<br />
<p>@(((DateTime)Model.CreatedAt).ToString("dd.MM.yyyy HH:mm.ss"))</p>
<br />
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
