@using System;
@using BIT.MyCity.Database
@using BIT.MyCity.Managers

@{
    var appeal = (Appeal)Model.Appeal;

    var subsystemKey = appeal?.Subsystem?.UID;
    var subsystemName = Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.name.");
    var siteUrl = Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralBaseUrl);

    var appealUrlTemplate = (string)Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.appeal_url_template.");
    var appealUrl = string.IsNullOrWhiteSpace(appealUrlTemplate)
      ? string.Empty
      : appealUrlTemplate.Replace("{appealId}", ((long)Model.Appeal.Id).ToString());

    var siteStatus = (int)Model.SiteStatus;

    string message;

    var systemName = Model.SettingsManager?.SettingValue(SettingsKeys.SystemWebGeneralMainTitle);

  string appealNumber = null;

    switch (siteStatus)
    {
      //case 0: // SiteStatus.Sent:
      //  message = "Ваше письмо зарегистрировано на портале";
      //  break;
      case 1:
        var extDate = appeal.ExtDate;
        appealNumber = $"{appeal.ExtNumber}{(extDate.HasValue ? " от " + extDate.Value.ToString("dd.MM.yyyy") : string.Empty)}";
        message = $"Ваше письмо зарегистрировано в системе электронного документооборота за № {appealNumber}";
        break;
      //case 2: // SiteStatus.UnderСonsideration:
      //  message = "Ваше обращение принято к рассмотрению";
      //  break;
      //case 3: // SiteStatus.DirectedByCompetence:
      //  message = "Ваше обращение направлено по компетенции";
      //  break;
      //case 4: // SiteStatus.UnderСonsideration2:
      //  message = "Ваше обращение принято к рассмотрению";
      //  break;
      //case 5: // SiteStatus.Answered:
      //  message = "Ваше обращение рассмотрено";
      //  break;
      case 6: // SiteStatus.NotAppeal:
        message = "Вашему письму присвоен статус \"Не требует ответа\"";
        break;
      //case 7: // SiteStatus.Extended:
      //  message = "Срок рассмотрения Вашего обращения продлен";
      //  break;
      //case 8: // SiteStatus.TransferredToDeputy:
      //  message = "Ваше обращение передано депутату";
      //  break;
      //case 9: // SiteStatus.ConsiderationTerminated:
      //  message = "Рассмотрение Вашего обращения прекращено";
      //  break;
      default:
        message = Model.SiteStatusName;
        break;
    }

    var authorName = Model.Appeal?.Author?.FullName ?? Model.Appeal?.Author?.UserName;
}

@*<h1>Здравствуйте, @authorName</h1>

  <h2>Обновлена информация по Вашему <a href="@appealUrl">письму от @(appeal?.CreatedAt.ToLocalTime().ToString("dd.MM.yyyy"))</a></h2>*@

<h1>Здравствуйте, @authorName обновлена информация по Вашему <a href="@appealUrl">письму от @(appeal?.CreatedAt.ToLocalTime().ToString("dd.MM.yyyy"))</a></h1>
@if (siteStatus == 0)
{
  <h2>Ваше письмо зарегистрировано на сайте <a href='@siteUrl'>«@systemName»</a></h2>
}
else
{
  <h2>@message</h2>
}

<table>
  @if (appealNumber != null)
  {
    <tr>
      <td valign="top">Регистрационный номер:</td>
      <td style="font-weight: bold;">@appealNumber</td>
    </tr>
  }
  <tr>
    <td valign="top">Наименование органа:</td>
    <td style="font-weight: bold;">@(Model.Appeal?.Rubric?.Name ?? "Не указано")</td>
  </tr>
  @*<tr>
      <td valign="top">Территория:</td>
      <td style="font-weight: bold;">@(Model.Appeal?.Territory?.Name ?? "Не указана")</td>
    </tr>*@
  @*<tr>
      <td valign="top">Регион:</td>
      <td style="font-weight: bold;">@(Model.Appeal?.Region?.Name ?? "Не указан")</td>
    </tr>*@
  @*<tr valign="top">
      <td>Тема:</td>
      <td style="font-weight: bold;">@(Model.Appeal?.Topic?.Name ?? "Не указана")</td>
    </tr>*@
  <tr valign="top">
    <td>Описание:</td>
    <td>@(Model.Appeal?.Description ?? "Без описания")</td>
  </tr>
</table>
<br />
<p>
  Информация о ходе рассмотрения письма будет поступать на адрес электронной почты, указанный при отправке документа и будет доступна в личном кабинете на сайте
  &nbsp;<a href="@siteUrl">&quot;@Model.SettingsManager?.SettingValue(SettingsKeys.SystemWebGeneralMainTitle)&quot;.</a>
</p>
<br />
<p>@(DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss"))</p>
<br />
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
