@using System;

<table width="94%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="-webkit-box-shadow: 0px 2px 10px 4px rgba(218,218,218,0.56);-moz-box-shadow: 0px 2px 10px 4px rgba(218,218,218,0.56);box-shadow: 0px 2px 10px 4px rgba(218,218,218,0.56);">
      <div style="height: 50px;line-height:50px;font-size:48px;">&nbsp;</div>
      <div class="container_mailru_css_attribute_postfix" style="width:  90%;margin: auto;">
        <table style="border-spacing: 0;border:         0;width:          100%;margin-bottom:  30px;font-size:      16px;line-height:    24.44px;">
          <tbody>
          <tr>
            <td style="padding: 0 15px; border: 0; vertical-align: top; width: 100px; text-align: center;">
              @*<div style="width: 81px; height: 85px; display: inline-block;">
                      <img src="https://proxy.imgsmail.ru?email=t_emil%40mail.ru&amp;e=1588923029&amp;flags=0&amp;h=ZoM3K1Q4yE7UpeMNkWpENw&amp;url173=d3d3LmRucy1zaG9wLnJ1L21haWwtaWNvbnMvbG9jay5wbmc~&amp;is_https=0">
                    </div>*@
            </td>
            <td style="padding: 0 15px;border: 0;vertical-align: top;line-height: 24.44px;letter-spacing: 0.28px;">
              <div>
                <span style="color: #3B3B3B;">Здравствуйте, @(Model.User?.FullName ?? Model.User?.UserName ?? string.Empty)</span> <br>
                <strong>Вы получили это письмо, поскольку указали данный почтовый адрес при работе с сервисом <span style="color: #1C1CD4;">"@Model.SiteName"</span></strong> 
                <div style="margin-top:15px;">
                  <span style="color: #3B3B3B;">Нам необходимо убедиться в том, что именно Вы являетесь владельцем этого e-mail адреса.</span>
                </div>
                <div style="margin-top:20px;margin-bottom:20px">
                  <strong>Для подтверждения электронного ящика,<br>нажмите на кнопку ниже:</strong>
                  <br /><br />
                  <a style="color: #5C2D91" href="@Model.ConfirmUrl" target="_blank" rel=" noopener noreferrer">
                    <button>Подтвердить электронный адрес</button>
                  </a>
                  <br /><br />
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td style="padding: 0 15px;">
              <div style="color: #3B3B3B;font-size: 10px;letter-spacing: 0.2px;line-height: 24.44px;">
                <span>Это письмо было отправлено автоматически.</span><br>
                <span>Если Вы считаете, что получили его по ошибке, просто проигнорируйте его.</span><br>
                <span>Переходя по ссылке, вы подтверждаете свое согласие на получение почтовых расссылок информационного характера.</span>
                <br><br><br>
                <span>Дата регистрации сообщения : @(((DateTime)Model.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy HH:mm.ss")) (время серверное)</span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>
