@using System;
@using BIT.MyCity.Database
@using BIT.MyCity.Managers

@{
    var subsystemKey = Model.Appeal?.Subsystem?.UID;
    var appealUrlTemplate = (string)Model.SettingsManager.SettingValue($"subsystem.{subsystemKey}.appeal_url_template.");
    var appealUrl = string.IsNullOrWhiteSpace(appealUrlTemplate)
      ? string.Empty
      : appealUrlTemplate.Replace("{appealId}", ((long)Model.Appeal.Id).ToString());
}

<h1>Здравствуйте, @Model.User?.FullName!</h1>

<h2>К Вашему <a href="@appealUrl">Обращению от @(((DateTime)Model.Appeal.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy"))</a> добавлен новый комментарий:</h2>

<p>@Model.Message.Text</p>

<br />
<p>@(((DateTime)Model.Message.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss"))</p>
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
