@using System;
@using BIT.MyCity.Database
@using BIT.MyCity.Managers

<h1>Здравствуйте, @Model.ParentMessage?.Author?.FullName!</h1>

<h2>К Вашему сообщению от @(((DateTime)Model.ParentMessage.CreatedAt).ToString("dd.MM.yyyy")) добавлен новый комментарий:</h2>

<p>@Model.Message.Text</p>

<br />
<p>@(((DateTime)Model.Message.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss"))</p>
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
