@using System;
@using BIT.MyCity.Database
@using BIT.MyCity.Managers

<h1>Здравствуйте, @Model.User?.FullName!</h1>

<h2>К голосованию "@Model.Vote.ShortName" добавлен новый комментарий:</h2>

<p>@Model.Message.Text</p>

<br />
<p>@(((DateTime)Model.Message.CreatedAt).ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss"))</p>
<p>Это письмо сформировано автоматически, отвечать на него не нужно.</p>
