@using System;
@using BIT.MyCity.Managers

@{
    var siteUrl = Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralBaseUrl);
}

<table width="94%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="-webkit-box-shadow: 0px 2px 10px 4px rgba(218,218,218,0.56);-moz-box-shadow: 0px 2px 10px 4px rgba(218,218,218,0.56);box-shadow: 0px 2px 10px 4px rgba(218,218,218,0.56);">
      <div style="height: 50px;line-height:50px;font-size:48px;">&nbsp;</div>
      <div class="container_mailru_css_attribute_postfix" style="width:  90%;margin: auto;">
        <table style="border-spacing: 0;border:         0;width:          100%;margin-bottom:  30px;font-size:      16px;line-height:    24.44px;">
          <tbody>
          <tr>
            <td style="padding: 0 15px;border: 0;vertical-align: top;line-height: 24.44px;letter-spacing: 0.28px;">
              <div>
                <span style="color: #3B3B3B;">Здравствуйте, <strong>@(Model.User?.FullName ?? Model.User?.UserName ?? string.Empty)</strong></span> <br>

                Вы запросили сброс пароля для вашей учетной записи на портале <a href="@siteUrl">&quot;@Model.SettingsManager.SettingValue(SettingsKeys.SystemWebGeneralMainTitle)&quot;.</a>. Используйте кнопку ниже, чтобы сбросить его. Этот сброс пароля действителен только в течение следующих 24 часов.

                <div style="margin-top:20px;margin-bottom:20px">
                  <br /><br />
                  <a style="color: #5C2D91" href="@Model.ConfirmUrl" target="_blank" rel=" noopener noreferrer">
                    <button>Сбросить пароль</button>
                  </a>
                  <br /><br />
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 15px;">
              <div style="color: #3B3B3B;">
                <span>Если вы не запрашивали сброс пароля, проигнорируйте это электронное письмо.</span><br>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>
