<div [formGroup]="form"
     class="dynamic-input-wrapper"
>
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{ input.label }}</label>

    <div class="d-flex"
         [ngClass]="{'required': isRequired, 'disabled': disabled}">
         <span class="w-100 d-inline-flex"
               [ngClass]="{'required': isRequired}"
         >
        <ejs-multiselect
            #multiselect
            class="w-100"
            [enabled]="!readonly && !disabled"
            [ngClass]="{'placeholder': !hasValue()}"
            [ngClass]="viewOpts.inputClass"
            [fields]='fields'
            [id]="input.key"
            onmousedown="this.focus();"
            [formControlName]="input.key"
            [locale]="'ru'"
            [placeholder]="placeholder"
            [readonly]="!!readonly"
            (focus)="onFocus()"
            (blur)="onBlur()"
            (change)="onChange($event)"
            (close)="onClose($event)"
            (removed)="onClose($event)"
            [allowFiltering]='true'
            (filtering)="onFiltering($event)"
            [dataSource]='datasource'>
        </ejs-multiselect>
        <app-input-clear-button *ngIf="viewOpts?.isClearButtonVisible ?? false"
                                (click)="onClearButtonClick($event)"
        >
        </app-input-clear-button>
         </span>
    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{ inputTooltip.message }}</p>
</div>

