<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{label}}</label>
    <div class="separator-line top"></div>
</div>
