<ng-container *ngIf="this.intform">
<app-dynamic-input-multiselect *ngFor="let item of ssinputs"
            [form]="intform"
            [input]="item"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (ontrolFocus)="controlFocus.emit($event)"
></app-dynamic-input-multiselect>
</ng-container>

