<div class="settings-pages-wrapper">

    <div class="tabs-wrapper" >
        <app-card-toolbar
            class="card-form-tab-selector"
            [actionList]="pageList"
            [isTabs]="true"
            (actionClick)="onPageClick($event)"
        >
        </app-card-toolbar>
    </div>

    <ng-container *ngIf="!isUpdating">
        <div class="settings-table">
            <ng-container *ngTemplateOutlet="allInputsTemplate"></ng-container>
        </div>
    </ng-container>


</div>


<ng-template #allInputsTemplate>
    <ng-container *ngFor="let page of pagesFields; let pi = index">
        <ng-container *ngFor="let key of page.fields">
            <ng-container *ngTemplateOutlet="inputRowTemplate;context:{input: getInput(key), hidden: (pi !== activePage)}"></ng-container>
            </ng-container>

        </ng-container>

</ng-template>

<ng-template #inputRowTemplate let-Input="input" let-hidden="hidden">
    <div class="settings-table-row" [hidden]="hidden">
        <div class="settings-table-cell item-left">
            {{Input.label}}
        </div>
        <div class="settings-table-cell item-right">
            <app-dynamic-input *ngIf="Input"
            [hidden]='Input.hidden || Input.pageIndex !== activePage'
            [input]="Input"
            [form]="form"
            [viewOpts]="viewOpts"
            >
            </app-dynamic-input>
        </div>
    </div>
<!-- <app-dynamic-input *ngIf="Input"
    [hidden]='Input.hidden || Input.pageIndex !== activePage'
    [input]="Input"
    [form]="form"
    [readonly]="!editMode">
    </app-dynamic-input>
    -->
</ng-template>


