<div [formGroup]="form">
    <label class="form-control-label" [hidden]="!isLabelVisible()">{{input.label}}</label>
    <div>
        <ejs-listbox
            [ngClass]="{'readonly': readonly, 'placeholder': !hasValue()}"
            [ngClass]="viewOpts.inputClass"
            [fields]='fields'
            [id]="input.key"
            [selectionSettings]="selectionSettings"
            [dataSource]="input.options"
            (focus)="onFocus()"
            (change)="onChange($event)"
            (blur)="onBlur()"
            [formControlName]="input.key"
        ></ejs-listbox>
    </div>
</div>
