<div class="card-form-content-wrapper">
    <div
        class="nav-tabs-wrapper"
    *ngIf="isPagesPresent">
        <app-card-toolbar
            class="card-form-tab-selector"
            [actionList]="pageList"
            [isTabs]="true"
            (actionClick)="onPageClick($event)"
        >
        </app-card-toolbar>
    </div>
    <p></p>

    <ng-container *ngFor="let page of pages; let pi = index">
        <app-simple-edit-form *ngIf="1 || !page.hidden"
        [form]="form"
        [hidden]="pi !== activePage"
        [fields]="page.fields"
        [inputs]="inputs"
        [readonly]="!editMode"
        [getAdditionalDataFn]="getAdditionalDataFn"
        [getInputOptsFn]="getInputOptsFn"
        ></app-simple-edit-form>
    </ng-container>

</div>

