/* .card-item-level1 {
    width: 50%;
    display: inline-grid;

}
.item-left {
    padding-right: 10px;
}
.item-right {
    padding-left: 10px;
} */


.separator-vert {
    width: 100%;
    height: 15px;
}
