@model BIT.MyCity.Controllers.ConfirmEmailResultApi

@{
  ViewData["Title"] = "Сброс пароля";
}

<style>
  .main-div {
    margin: 3% auto;
    width: 60%;
    text-align: center;
  }
</style>
<div class="main-div">
  <h1>Сброс пароля</h1>

  @if (Model.Succsess)
  {
    <h4>Пароль сброшен</h4>
  }
  else
  {
    <h4>@Model.ErrorMessage</h4>
  }
</div>
