.appeal-approving-selector {
    padding-left: 15px;
    background-color: ivory;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    margin-top: 20px;
}

.rejected {
    color: red;
}
.approved {
    color: green;
}
