.dynamic-input-wrapper {
    &.checkbox {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .checkbox {
        vertical-align: middle;
        padding-left: 10px;
        span {
            padding-left: 10px;
            position: relative;
        }
        input {
            position: relative;
            top: -1px;
        }
    }
    label {
        &.checkbox {
            margin: 0;
        }
    }

    .textareacounter {
        position: relative;
        // bottom: 0;
        // right: 7px;
        span {
            font-size: 13px;
            position: absolute;
            bottom: 1px;
            right: 4px;
        }
    }
}

.form-group {
    &.no-marigin {
        margin: 0;
    }
}

.my-filepond {
    .filepond--file-action-button .filepond--action-process-item {
        visibility: hidden;
    }
    .filepond--file-action-button {
        visibility: hidden;
    }
    .filepond--file:hover {
        .filepond--action-revert-item-processing {
            visibility: visible;
        }
    }
}

// .ejs-wrapper {
//     height: 10px;
// }

/* Inline таблица стилей #15 | http://localhost:4200/appeal/2 */
.textarea-answer {
    width: 100%;
    height: 135px;
    font: normal 14px Tahoma, Arial, sans-serif;
    color: #586263;
    margin-bottom: 6px;
    padding: 4px;
    overflow: auto;
    resize: none;
    border: 1px solid #e5e5e5;
    outline: 1px solid lightblue;
}
