<div
    class="form-group"
    [ngClass]="getFormClass()"
    *ngIf="form && input && form.controls[input.key]"
    triggers=""
>
    <ng-container [ngSwitch]="input.controlType">
        <app-dynamic-input-string
            *ngSwitchCase="types.string"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-string>
        <app-dynamic-input-moderators-subs
            *ngSwitchCase="types.moderatorsSubS"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-moderators-subs>
        <app-dynamic-input-separator
            *ngSwitchCase="types.separator"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-separator>
        <app-dynamic-input-text
            *ngSwitchCase="types.text"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-text>
        <app-dynamic-input-richtext
            *ngSwitchCase="types.textRich"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-richtext>
        <app-dynamic-input-checkbox
            *ngSwitchCase="types.boolean"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-checkbox>
        <app-dynamic-input-checkbox-group
            *ngSwitchCase="types.checkBoxGroup"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-checkbox-group>
        <app-dynamic-input-radio-group
            *ngSwitchCase="types.radioGroup"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-radio-group>
        <app-dynamic-input-multiselect
            *ngSwitchCase="types.multiselect"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-multiselect>
        <app-dynamic-input-select
            *ngSwitchCase="types.select"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
        ></app-dynamic-input-select>
        <app-dynamic-input-tree
            *ngSwitchCase="types.treeList"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
        ></app-dynamic-input-tree>
        <app-dynamic-input-list
            *ngSwitchCase="types.list"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [mode]="input.descriptor.mode"
            [disabled]="disabled"
            [placeholder]="placeholder"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
        ></app-dynamic-input-list>

        <app-dynamic-input-date
            *ngSwitchCase="types.date"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [placeholder]="placeholder"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-date>

        <app-dynamic-input-datetime
            *ngSwitchCase="types.datetime"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [placeholder]="placeholder"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-datetime>
        <app-data-range-extended
            *ngSwitchCase="types.dateRangeExt"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [placeholder]="placeholder"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-data-range-extended>
        <app-dynamic-input-date-range
            *ngSwitchCase="types.dateRange"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [placeholder]="placeholder"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-date-range>
        <app-dynamic-input-number
            *ngSwitchCase="types.number"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [placeholder]="placeholder"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-number>
        <app-dynamic-input-number-range
            *ngSwitchCase="types.numberRange"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [placeholder]="placeholder"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-number-range>

        <app-dynamic-input-claimselect
            *ngSwitchCase="types.claimSelect"
            [form]="form"
            [input]="input"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-claimselect>

        <app-dynamic-input-table
            *ngSwitchCase="types.table"
            [form]="form"
            [input]="input"
            [getAdditionalDataFn]="getAdditionalDataFn"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-table>

        <app-dynamic-input-filelist
            *ngSwitchCase="types.filesPond"
            [form]="form"
            [input]="input"
            [getAdditionalDataFn]="getAdditionalDataFn"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-filelist>
        <app-dynamic-input-map *ngSwitchCase="types.mapPoint"
            [form]="form"
            [input]="input"
            [getAdditionalDataFn]="getAdditionalDataFn"
            [readonly]="readonly || input.readonly"
            [disabled]="disabled"
            [viewOpts]="viewOpts"
            (controlBlur)="controlBlur.emit($event)"
            (controlFocus)="controlFocus.emit($event)"
        ></app-dynamic-input-map>
    </ng-container>
</div>
