<!-- <accordion [isAnimated]="true" [closeOthers]="true"> -->
    <accordion-group
        [panelClass]="customClass()"
        (isOpenChange)="isOpenChange($event)"
        [isOpen]="isOpen">
        <button class="accordion-heading-flex btn btn-block clearfix" accordion-heading type="button">
            <div class="accordion-header pressable btn-link pull-left float-left">{{ getTitle() }}</div>
            <div class="accordion-header info success pull-left " *ngIf="!isChanged && !isNewRecord">Сохранено</div>
            <button class="accordion-header action btn btn-sm btn-success pull-right" *ngIf="isChanged || isNewRecord"
                (click)="onSaveClick($event)"
            >Сохранить</button>

            <div class="accordion-header action-list" *ngIf="!isOpen">
                        <span class="badge badge-secondary float-right pull-right" *ngFor="let action of headerActions"
                        (click)="actionClick($event, action)"
                        >{{action.title}}</span>
            </div>
            <!-- <span class="badge badge-secondary float-right pull-right" *ngIf="true"
             (click)="deleteVoteClick($event)"
         >Удалить</span> -->
        </button>

        <div *ngIf="!isUpdate">

            <ng-container *ngFor="let page of pagesList; let pi = index">
                <app-simple-edit-form
                [form]="form"
                [hidden]="pi !== activePage"
                [fields]="page.fields"
                [inputs]="inputs"
                [getAdditionalDataFn]="getAdditionalDataFor"
                [readonly]="readonly"
                ></app-simple-edit-form>
            </ng-container>


            <ng-content></ng-content>
        </div>

    </accordion-group>
<!-- </accordion> -->
