
.panel-heading {
    padding-top: 0;
    padding-bottom: 0;
}


.accordion-header {
    &.success {
        padding-left: 10px;
        padding-right: 10px;
    }

    &.info {
        color: gray;
        margin-left: 10px;
        font-size: 12px;
        text-transform: none;
        text-decoration: none;
        margin-right: 20px;
    }

    &:hover {
        text-decoration: none;
    }

    &.action {
        margin-right: 10px;
        margin-left: 10px;

        :hover {
            text-decoration: none;
        }
    }

    &.pressable {
        margin-right: 10px;
        margin-left: 10px;
    }
    &.action-list {
        position: absolute;
        right: 0;
        > .badge {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.accordion-heading-flex {
    display: flex;
    align-items: center;
}


.panel-heading {
    padding-top: 0;
    padding-bottom: 0;
}
