<div [formGroup]="form" class="dynamic-input-wrapper">
    {{input.label}}
    <div class="d-flex">
        <div [class]="columnsCssClass">
            <div class="d-flex flex-wrap">
                <div *ngFor="let item of input.options"
                     [class]="cellCssClass +' text-nowrap overflow-hidden'"
                >
                    <label
                        class="form-control-label checkbox"
                        [ngClass]="{ disabled: disabled || readonly }">
                        <input
                            type="radio"
                            [name]="formControlName"
                            [readonly]="readonly"
                            [ngClass]="{ readonly: readonly }"
                            [ngClass]="viewOpts?.inputClass"
                            [checked]="item.checked"
                            (click)="onChange(item, $event)"
                            (focus)="onFocus()"
                            (blur)="onBlur()"
                        />
                        <span class="app-icon app-icon-checkbox-square x-small"></span
                        >{{ item.title }}</label
                    >
                </div>
            </div>
        </div>
    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{inputTooltip.message}}</p>
</div>
