<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{input.label}}</label>
    <div >
        <ejs-datetimepicker
            [enabled]="!readonly && !disabled"
            [placeholder]="placeholder"
            [ngClass]="viewOpts.inputClass"
            [readonly]='readonly'
            [attr.disabled]="readonly ? true : null"
            [id]="input.key"
            [locale]="'ru'"
            [cssClass]="readonly?'e-style-disabled':''"
            [formControlName]="input.key"
        ></ejs-datetimepicker>
    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{inputTooltip.message}}</p>
</div>
