
<ng-container *ngTemplateOutlet="allInputsTemplate"></ng-container>

<ng-container *ngIf="this.isReportFilesExists">
    <hr>
    <app-simple-attaches-list
        [readonly]="true"
        [attachesFiles]="this.attachesFiles"
    ></app-simple-attaches-list>
</ng-container>

<ng-container *ngIf="this.buildedReport?.template">
    <hr>
    <div [innerHTML]="this.buildedReport.template"></div>
</ng-container>


<hr>
<div class="my-3 d-flex justify-content-end">
    <app-card-toolbar
        [actionList]="actionList"
        (actionClick)="onActionClick($event)"
    ></app-card-toolbar>
</div>
<hr>

<ng-template #allInputsTemplate>
    <ng-container *ngFor="let key of fields">
        <ng-container *ngIf="key === '-'"><p class="separator-line"></p></ng-container>
        <ng-container *ngIf="isArray(key) ; else oneinputTemplate">
            <div class="card-block-level1" [hidden]="false">
                <div  *ngFor="let keyLevel1 of key; let i = index"
                      class="card-item-level1"
                      [ngClass]="{'item-left': i === 0 , 'item-right': i === 1}"
                >
                    <ng-container *ngIf="key === '-'"></ng-container>
                    <ng-container *ngTemplateOutlet="inputTemplate;context:{input: getInput(keyLevel1)}"></ng-container>
                </div>
            </div>
        </ng-container>
        <ng-template #oneinputTemplate>
            <ng-template *ngTemplateOutlet="inputTemplate;context:{input: getInput(key)}"></ng-template>
        </ng-template>
    </ng-container>
</ng-template>

<ng-template #inputTemplate let-input="input">
    <app-dynamic-input *ngIf="input && !input.manualLayout"
                       [hidden]='input.hidden'
                       [input]="input"
                       [form]="form"
                       [getAdditionalDataFn]="getAdditionalDataFn"
                       [getInputOptsFn]="getInputOptsFn"
                       [readonly]="false">
    </app-dynamic-input>
</ng-template>


