
<div class="card-form-content-wrapper">

    <div
        class="nav-tabs-wrapper"
    *ngIf="isPagesPresent">
        <app-card-toolbar
            class="card-form-tab-selector"
            [actionList]="pageList"
            [isTabs]="true"
            (actionClick)="onPageClick($event)"
        >
        </app-card-toolbar>
    </div>

    <ng-container *ngTemplateOutlet="allInputsTemplate"></ng-container>

    <!-- <app-settings-pages
    [pagesKeys]="pagesList1"
    [inputs]="inputs"
    [activePage]="activePage"
    ></app-settings-pages> -->


</div>

<ng-template #allInputsTemplate>
    <ng-container *ngFor="let page of pages1; let pi = index">
        <ng-container *ngFor="let key of page.fields">

            <ng-container *ngIf="isArray(key) ; else oneinputTemplate">
                <div class="card-block-level1" [hidden]="pi !== activePage">
                    <div  *ngFor="let keyLevel1 of key; let i = index"
                        class="card-item-level1"
                        [ngClass]="{'item-left': i === 0 , 'item-right': i === 1}"
                    >
                        <ng-container *ngTemplateOutlet="inputTemplate;context:{input: getInput(keyLevel1)}"></ng-container>
                    </div>
                </div>
            </ng-container>
            <ng-template #oneinputTemplate>
                <ng-template  *ngTemplateOutlet="inputTemplate;context:{input: getInput(key)}"></ng-template>
            </ng-template>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #inputTemplate let-input="input">
    <app-dynamic-input *ngIf="input && !input.manualLayout"
    [hidden]='input.hidden || input.pageIndex !== activePage'
    [input]="input"
    [form]="form"
    [readonly]="!editMode">
    </app-dynamic-input>
</ng-template>


