<div *ngIf="!isUpdate">

    <ng-container *ngFor="let page of pagesList; let pi = index">
        <app-simple-edit-form
        [form]="form"
        [hidden]="pi !== activePage"
        [fields]="page.fields"
        [inputs]="inputs"
        [readonly]="readonly"
        ></app-simple-edit-form>
    </ng-container>

</div>
