<div [formGroup]="form">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key"
        >{{ input.label }}</label
    >

    <p
        *ngIf="readonly"
        class="form-control-static m-font"
        [ngClass]="{ placeholder: !hasValue() }"
    >
        <!-- {{ currentValue }} -->
        <app-simple-attaches-list
            *ngIf="files && files.length"
            [attachesFiles]="this.attachesFiles"
        ></app-simple-attaches-list>
    </p>
    <div
        class="app-select"
        *ngIf="!readonly"
        [ngClass]="{ required: isRequired, disabled: disabled }"
    >
        <file-pond
            #myPond
            [options]="pondOptions"
            [files]="files"
            (oninit)="pondHandleInit()"
            (onaddfile)="pondHandleAddFile($event)"
            (onactivatefile)="pondHandleClickFile($event)"
        >
        </file-pond>

    </div>
</div>
