/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
     height: 100%;
    //max-height: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.container-fluid {
    margin-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    margin-bottom: 0.7rem;
    height: 100%;
}

.list-actions {
    margin-bottom: 6px;
    margin-top: 5px;
}

.toast-container {
    .ngx-toastr {
        width: 400px;
    }
    width: 400px;
}

.form-control {
    &.simple-thin-input {
        height: 25px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.filter-panel-primary {
    .panel-heading {
        padding-top: 0;
        padding-bottom: 0;
    }

}

.accordion-thin {
    .panel-heading {
        padding: 0;
    }

}

.form-control {
    height: calc(1.3em + 0.75rem + 2px);
}
.form-control-label {
    margin-bottom: 0;
}

.filter-control-item {
    .form-group {
        margin-bottom: 0.1rem;
    }
    .e-multi-select-wrapper {
        height: 32px;
        .e-chips {
            margin: 1px 4px 1px 0;
        }
    }
}

.alert-flat {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
}

.e-date-wrapper.e-style-disabled {
    /* csslint allow: adjoining-classes*/
    background: #e9ecef;
}

.card-block-level1 {
    display: flex;
}
.card-item-level1 {
    width: 50%;
    display: table-cell;
}
.item-left {
    padding-right: 10px;
}
.item-right {
    padding-left: 10px;
}

no-marigin {
    margin: 0;
}


textarea.form-control {
    height: 100px;
    // background-color: brown;
}

.card-body {
    padding: 1rem;
}
// .filepond--panel-root {
//     background-color: #ffffff;
//     border-radius: 0.3em;
//     border:1px solid #ced6e0;
// }
// .filepond--item-panel {
//     border-radius: 0.3em;
// }
// .filepond--root {
//     max-height: 30em;
// }

textarea.form-control.news-textarea {
    height: 1000px;
}


.separator-line {
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    height: 10px;
    &.near {
        height: 0px;
        margin-top: 0px;
        padding: 0px;
    }
    &.top {
        margin-bottom: 10px;
        margin-top: 0px;
        border-bottom: 0;
        border-top: 1px solid lightgray;
    }
}
.separator-space {
    width: 20px;
    display: inline-block;
}


.table-vertical-flex {
    display: flex;
    height: calc(100vh - 120px);
    flex-direction: column;
    .ag-body-horizontal-scroll {
        display: none;
    }
}



.filter-current {
    color: gray;
    margin-left: 10px;
    font-size: 12px;
    text-transform: none;
    text-decoration: none;
    &.green {
        color: green;
    }
    &:hover {
        text-decoration: none;
    }
}

.accordion-heading-flex {
    display: flex;
    align-items: center;

}

.accordion-heading-btn {
    margin-right: 20px;
}

// .claimselect-claiminfo-title {
//     font-size: larger;
// }
// .claimselect-claiminfo-title:hover {
//     text-decoration: underline;
//     cursor: pointer;
//     color: #0056b3;
// }

// .access-fastbuttons {
//     display: flex;
//     margin-bottom: 10px;
// }
// .access-btn {
//     margin-left: 5px;
//     margin-right: 5px;
//     line-height: 10px;
// }
