@model BIT.MyCity.ApiInterface.Models.ConfirmEmailResult

@{
    ViewData["Title"] = "ConfirmEmail";
}

<h1>ConfirmEmail</h1>

<div>
    <h4>ConfirmEmailResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Succsess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Succsess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</div>
