@model BIT.MyCity.ApiInterface.Models.LoginModel

@{
    ViewData["Title"] = "UserName";
}

<h1>UserName</h1>

<h4>UserNameModel</h4>
<hr />
<div>
  @foreach (var item in ViewData["LoginSystems"] as LoginSystem[])
  {
    <a class="btn btn-dark" asp-action="LoginApi" asp-route-system="@item">@item.ToString()</a>
  }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="UserName" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

