@{
    ViewData["Title"] = "UserName";
}

<h1>UserName</h1>


@foreach (var item in ViewData["LoginSystems"] as LoginSystem[])
{
  <a class="btn btn-dark" asp-action="LoginApi" asp-route-system="@item">@item.ToString()</a>
}
