@model UserInfo

@{
    ViewData["Title"] = "LoginCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserNameCompleted</h1>

<div>
    <h4>UserInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginSystem)
        </dd>
    </dl>
</div>
