<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{ label }}</label>

    <div [ngClass]="{'required': isRequired, 'disabled': disabled}"
         class="d-flex"
    >
        <input class="e-input e-small e-bigger" #inputEl
               [formControlName]="input.key"
               [id]="input.key"
               [type]="textType"
               [readonly]="readonly"
               [attr.disabled]="readonly ? true : null"
               [ngClass]="{'readonly': readonly}"
               [ngClass]="viewOpts.inputClass"
               [placeholder]="placeholder"
               (focus)="onFocus()"
               (blur)="onBlur()"
               (input)="onInput($event)"
               autocomplete="off">
        <div class="textareacounter" *ngIf="isFocused && !readonly">
            <span>{{ getCounterLabel() }}</span>
        </div>
        <app-input-clear-button *ngIf="viewOpts?.isClearButtonVisible ?? false"
                                (click)="onClearButtonClick($event)"
        >
        </app-input-clear-button>
    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{ inputTooltip.message }}</p>
</div>
