/*.navbar {
  background: linear-gradient(135deg,#0143a3,#0273d4);
}
.login {
  width: 100%;
}
.login .navbar-nav {
  float: right;
}

.login .nav-link {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.login .nav-link.active {
  color: #fff;
}*/

.title-label {
    flex: auto;
    // font-size: 20px;
    padding-left: 20px;
    h4 {
        margin-bottom: 0px;
    }
}
