<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-primary" id="menu-toggle" (click)="toggle()">
        <div *ngIf="!toggled">&#60;</div>
        <div *ngIf="toggled">&#62;</div>
    </button>
    <div class="title-label">
        <h4>{{ getTitle() }}</h4>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="show = !show;">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="loggedIn()">
                <div *ngIf="loggedIn()" class="nav-link text-dark">{{ getLoggedInUser()?.fullName }}</div>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!loggedIn()">
                <a class="nav-link" (click)="login()">Вход</a>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!loggedIn()">
                <a class="nav-link" [routerLink]='["/register"]' [routerLinkActive]='["active"]'>Регистрация</a>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="loggedIn()">
                <a class="nav-link" [routerLink]='["/logout", {url: router.url}]'
                   [routerLinkActive]='["active"]'>Выход</a>
            </li>
        </ul>
    </div>
</nav>
