<div
    class="bg-light border-right"
    id="sidebar-wrapper"
    [class.toggled]="toggled"
>
    <div class="sidebar-heading">{{ mainTitle }}</div>
    <div class="list-group list-group-flush">
        <a
            class="list-group-item list-group-item-action bg-light text-dark"
            [routerLink]="['/']"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Главная</a
        >
        <span *ngFor="let section of sections">
            <ng-container *ngIf="section.urllink">
                <a
                class="list-group-item list-group-item-action bg-light"
                *ngIf="this.isSectionEnabled(section) && auth.isAuthorizedTo(section)"
                [id]="section.id"
                [href]="section.urllink"
                ><i [class]="section.class"></i>{{ getTitle(section) }}</a
            >
            </ng-container>
            <ng-container *ngIf="!section.urllink">
                <a
                    class="list-group-item list-group-item-action bg-light"
                    *ngIf="this.isSectionEnabled(section) && auth.isAuthorizedTo(section)"
                    [routerLink]="section.link || section.id || section.urllink"
                    [routerLinkActive]="['active']"
                    [id]="section.id"
                    [href]=""
                    ><i [class]="section.class"></i>{{ getTitle(section) }}</a
                >
            </ng-container>
        </span>
    </div>
</div>
