.list-group-item.active {
    color: #000;
    border-color: #000;
}


.sidebar-version-wrapper {
    position: relative;
}

.sidebar-heading {
    max-width: 241px;
}
.sidebar-version {
    font-size: 10px;
    padding-left: 40px;
    position: absolute;
}
.list-group-item {
    border-width: 0px;
}
