<div class="row mt-2">
        <!-- <ag-grid-angular
            #agGrid
            [style]="getTableStyle()"
            id="myGrid"
            class="ag-theme-balham"
            rowModelType="infinite"
            rowSelection="multiple"
            (cellDoubleClicked)="onCellDoubleClicked($event)"
            (rowSelected)="onSelectionChanged($event)"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowDeselection]="true"
            [getRowHeight]="getRowHeight"
            [getRowNodeId]="getRowNodeId"
            [components]="components"
            (gridReady)="onGridReady($event)"
            [groupIncludeFooter]="true"
            [groupIncludeTotalFooter]="true"
        ></ag-grid-angular> -->
        <!-- <ag-grid-angular
            #agGrid
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [animateRows]="true"
            [groupDefaultExpanded]="groupDefaultExpanded"
            [getRowHeight]="getRowHeight"
            (gridReady)="onGridReady($event)"
        ></ag-grid-angular> -->
        <ag-grid-angular
            #agGrid
            id="myGrid"
            class="ag-theme-balham"
            [style]="getTableStyle()"
            [components]="components"
            rowSelection="multiple"
            (cellDoubleClicked)="onCellDoubleClicked($event)"
            (rowSelected)="onSelectionChanged($event)"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [getRowHeight]="getRowHeight"
            [rowData]="rowData"
            (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
</div>

<!-- [rowHeight]="getTableRowHeight()" -->
