<div [formGroup]="form"
     class="dynamic-input-wrapper"
>
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{ input.label }}</label>
    <div class="d-flex">
        <ejs-daterangepicker
            class="w-100"
            [enabled]="!readonly && !disabled"
            [placeholder]="placeholder"
            [ngClass]="viewOpts.inputClass"
            [id]="input.key"
            [locale]="'ru'"
            [formControlName]="input.key"
        ></ejs-daterangepicker>
        <app-input-clear-button *ngIf="viewOpts?.isClearButtonVisible ?? false"
                                (click)="onClearButtonClick($event)"
        >
        </app-input-clear-button>

    </div>
</div>
