
<div class="list-actions" *ngIf="hasActions()">
    <app-card-toolbar
        [actionList]="actionList"
        (actionClick)="onActionClick($event)"
    ></app-card-toolbar>
</div>

<ag-grid-angular
    #agGrid
    [style]="getTableStyle()"
    id="myGrid"
    class="ag-theme-balham"
    rowSelection="multiple"
    (cellDoubleClicked)="onCellDoubleClicked($event)"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowDeselection]="true"
    [components]="components"
    (gridReady)="onGridReady($event)"
    (rowValueChanged)="onRowDataChanged($event)"
></ag-grid-angular>

