<script language="JavaScript">
  function func() {
    console.log('я делаю редирект');
    document.location.href = 'regionadygheya://'
  }

  location.assign("regionadygheya://");
  location.replace("regionadygheya://");
</script>
<a id="aaa" onclick="func();" href="#">Нажми меня</a>