<accordion>
    <accordion-group
        [panelClass]="customClass()"
        (isOpenChange)="isOpenChange($event)"
        [isOpen]="isOpen">
        <button class="accordion-heading-flex btn btn-link btn-block clearfix" accordion-heading type="button">
        <!-- <button class="filter-heading-flex btn btn-link btn-block clearfix" accordion-heading type="button"> -->
            <div class="filter-heading-btn pull-left float-left">{{'Фильтр'}}</div>

            <div class="filter-current pull-left " *ngIf="this.headerLabel !== undefined ">{{this.headerLabel}}</div>
        <!-- </button> -->
        </button>
        <form class="form-user" *ngIf="!isUpdating"
            [formGroup]="form" (ngSubmit)="applyFilter($event)">


            <ng-container *ngTemplateOutlet="allInputsTemplate"></ng-container>

            <div class="filter-row">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-info" (click)="applyFilter(null)" [disabled]="!isChanged">Применить фильтр</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="clearFilter()">Очистить фильтр</button>
                </div>
            </div>
        </form>
    </accordion-group>
</accordion>

<ng-template #allInputsTemplate>
    <ng-container *ngFor="let obj of inputsLayout; let pi = index">
        <ng-container *ngIf="isArray(obj) ; else oneinputTemplate">
            <div class="card-block-level1">
                <div  *ngFor="let input of obj; let i = index"
                    class="card-item-level1"
                    [ngClass]="{'item-left': i === 0 , 'item-right': i === 1}"
                >
                    <ng-container *ngTemplateOutlet="inputTemplate;context:{input: input}"></ng-container>
                </div>
            </div>
        </ng-container>
        <ng-template #oneinputTemplate>
            <ng-template *ngTemplateOutlet="inputTemplate;context:{input: obj}"></ng-template>
        </ng-template>

    </ng-container>
</ng-template>


<ng-template #inputTemplate let-item="input">
    <app-dynamic-input *ngIf="item && !item.hidden"
    [input]="item"
    class="filter-control-item"
    [form]="form"
    [placeholder]="item.label"
    [viewOpts]=" { hideLabel: true, isClearButtonVisible: true }"
    ></app-dynamic-input>
</ng-template>


<!-- <accordion [isAnimated]="true" [closeOthers]="false">
    <accordion-group *ngFor="let block of this.systems; let i = index"
        [panelClass]="customClass()"
        [isOpen]="block.isOpen"
        (isOpenChange)="onOpenChange(block, $event)"
    >
    <button class="accordion-heading-flex btn btn-link btn-block clearfix" accordion-heading type="button">
        <div class="accordion-heading-btn pull-left float-left">{{block.title}}</div>

        <div class="claims-current pull-left access-full" *ngIf="block.allChecked">Полный доступ</div>
        <div class="claims-current pull-left access-part" *ngIf="block.hasChecked && !block.allChecked">Частичный доступ</div>
        <div class="claims-current pull-left access-none" *ngIf="block.noChecked">Без доступа</div>

      </button>
        <div class="access-fastbuttons" *ngIf="block.items.length > 1">
        <button class="access-btn btn btn-sm btn-outline-secondary"
            (click)="blockToggle(block, true)"
        >Установить полный доступ</button>
        <button class="access-btn btn btn-sm btn-outline-secondary"
            (click)="blockToggle(block, false)"
        >Без доступа</button>
        </div>
        <ng-container *ngTemplateOutlet="claimsBlock;context:{block:block}"></ng-container>
    </accordion-group>
</accordion> -->
