.form-group {
    margin-bottom: 0.1el;
    background-color: red;
}
.filter-control-item
    .form-group {
        margin-bottom: 0.1el;
    }
.filter-row {
    margin-top: 10px;
}
/*
.filter-control-item {
    .form-group {
        margin-bottom: .1rem;
    }
} */

/* :host::ng-deep {
    background-color: red;
}
:host::form-group {
        margin-bottom: 0.1el;
    }

    :host {
        display: block;
        border: 3px solid black;
      } */
