<div *ngIf="!!detailedEntity">
    <app-card-inline #detailedViewCard
                     [card]="detailedEntity"
                     (closeAction)="closeDetailView($event)"
    ></app-card-inline>
</div>

<div [hidden]="!!detailedEntity">
    <div class="list-actions" *ngIf="hasActions()">
        <app-card-toolbar
            [actionList]="actionList"
            (actionClick)="onActionClick($event)"
        >
        </app-card-toolbar>
    </div>
    <ng-container *ngIf="isReadyForGrid">
        <div class="table-vertical-flex">
            <app-filter-control
                id="filtercontrolwrapper"
                *ngIf="isFilterControlVisible()"
                #filterControl
                [filters]="filterCtrlsD"
                [headerLabel]="('Кол-во: ' + (this.totalCount === undefined ? 'Загрузка' : this.totalCount) )"
                [layout]="filterLayout"
                [useStorageDescriptor]="this.descriptor?.id"
                (filterApply)="filterApply($event)"
                (openToggle)="filterOpenToggle($event)"
            ></app-filter-control>
            <div style="width: 100%; font-size: 14px; flex-basis: 100%; overflow-x: hidden;">
                <ag-grid-angular
                    #agGrid
                    [style]="getTableStyle()"
                    id="myGrid"
                    class="ag-theme-balham"
                    [rowHeight]="getTableRowHeight()"
                    rowModelType="infinite"
                    rowSelection="multiple"
                    (cellDoubleClicked)="onCellDoubleClicked($event)"
                    (rowSelected)="onSelectionChanged($event)"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef"
                    [rowDeselection]="true"
                    [getRowNodeId]="getRowNodeId"
                    [components]="components"
                    (gridReady)="onGridReady($event)"
                    [groupIncludeFooter]="true"
                    [groupIncludeTotalFooter]="true"
                ></ag-grid-angular>
                <!-- <div class="grid-footer">
                    a
                </div> -->
            </div>
        </div>
    </ng-container>
</div>
