/* Inline таблица стилей #12 | http://localhost:4200/vote/add */

.vi-controls-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 300px);
}

.vi-controls-wrapper-col1 {
    display: grid;
}


.btn .badge {
    top: 3px;
}

