
    <accordion-group
        [panelClass]="customClass()"
        [isOpen]="isOpen"
        (isOpenChange)="isOpenChange($event)"
        >
        <!-- [heading]="getTitle()" -->
        <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">{{getTitle()}}</div>
            <span class="badge badge-secondary float-right pull-right" *ngIf="!isOpen"
                (click)="deleteClick($event)"
            >Удалить</span>
          </button>
        <form class="vote-iten-form" *ngIf="!isUpdating"
            [formGroup]="form" (ngSubmit)="apply($event)">
            <div class="vi-controls-wrapper">
                <!-- <div class="vi-controls-wrapper-col1"> -->
                    <!-- <ng-container *ngTemplateOutlet="inputTemplate;context:{input: inputs[1]}"></ng-container> -->
                    <ng-container *ngTemplateOutlet="inputTemplate;context:{input: inputs[0]}"></ng-container>
                <!-- </div> -->
                <!-- <div> -->
                    <ng-container
                        *ngTemplateOutlet="inputTemplate;context:{input: inputs[1], options: { hideLabel: true}}">
                    </ng-container>
                <!-- </div> -->
            </div>
            <div>
                <ng-container
                    *ngTemplateOutlet="inputTemplate;context:{input: inputs[2], options: { hideLabel: true}}">
                </ng-container>
            </div>
        </form>
    </accordion-group>
    <!-- fields: [FT_NAME.key, FT_SNAME.key, FT_ATTACHED_FILES.key, FT_DESCRIPTION.key] -->

<ng-template #inputTemplate let-Input="input" let-Opts="options">
    <app-dynamic-input *ngIf="Input"
    [hidden]='Input.hidden'
    [input]="Input"
    [getAdditionalDataFn]="getAdditionalDataFor"
    [form]="form"
    [viewOpts]="Opts||{}"
    [readonly]="Input.readonly || !editMode">
    </app-dynamic-input>
</ng-template>
