<div class="card-form-content-wrapper">
    <div class="nav-tabs-wrapper" *ngIf="isPagesPresent">
        <app-card-toolbar class="card-form-tab-selector" [actionList]="pageList" [isTabs]="true" (actionClick)="onPageClick($event)">
        </app-card-toolbar>
    </div>

    <div class="contact-container" *ngIf="activePage === contactPageIndex && contactAddressValue">
        Контактный адрес:
        <div class="contact-container-value">{{contactAddressValue}}</div>
    </div>

    <ng-container *ngTemplateOutlet="allInputsTemplate"></ng-container>

    <div class="page-container" *ngIf="activePage === answersPageIndex">
        <ng-container *ngTemplateOutlet="messagesTemplate"></ng-container>
    </div>

    <div class="page-container" *ngIf="activePage === journalPageIndex">
        <ng-container *ngTemplateOutlet="journalTemplate"></ng-container>
    </div>

    <div class="page-container" *ngIf="activePage === 0">
        <div *ngIf="isApprovable" class="appeal-approving-selector">
            <div class="clearfix-line"></div>
            Публичность:

            <div class="approve-text" [ngClass]="isApprovedText" *ngIf="isApprovedText==='accepted'">Опубликовано</div>
            <div class="approve-text" [ngClass]="isApprovedText" *ngIf="isApprovedText==='rejected'">Отказано в публикации</div>
            <div *ngIf="isApprovedText==='rejected'">{{getValue('appeal.rejectionReason')}}</div>
            <div class="approve-text" [ngClass]="isApprovedText" *ngIf="isApprovedText==='undefined'">Ожидает решения</div>



            <div class="clearfix-line"></div>
            <app-card-toolbar *ngIf="isAcceptButtonsEnabled" [actionList]="approveButtons" (actionClick)="onApproveClick($event)">
            </app-card-toolbar>
            <ng-container *ngIf="approveUnsave">
                <div class="clearfix-line"></div>
                <app-dynamic-input *ngIf="!isNewRecord && !input_rejResVariants?.hidden" [input]="getInput('appeal.rejResVariants')" [form]="form" [readonly]="!editMode"></app-dynamic-input>
                <app-dynamic-input *ngIf="!isNewRecord && !input_rejectionReason?.hidden" [input]="getInput('appeal.rejectionReason')" [form]="form" [readonly]="!editMode">
                </app-dynamic-input>
                <app-card-toolbar *ngIf="!input_rejResVariants?.hidden" [actionList]="approveButtons1" (actionClick)="onApproveClick($event)">
                </app-card-toolbar>
            </ng-container>
            <div class="clearfix-line"></div>
        </div>

    </div>

</div>

<ng-template #messagesTemplate>
    <app-comments-tree-view *ngIf="!!answersOptions" [options]="answersOptions" [parentId]="appealId" [parentType]="parenttypes.appeal" (createMessage)="createMessageEvent($event)" (loadMessages)="loadMessagesEvent($event)">
    </app-comments-tree-view>
</ng-template>

<ng-template #journalTemplate>
    <app-journal-view [entityKey]="appealId" [entityName]="'Appeal'"></app-journal-view>
</ng-template>

<ng-template #allInputsTemplate>
    <ng-container *ngFor="let page of pages; let pi = index">
        <ng-container *ngFor="let key of page.fields">

            <ng-container *ngIf="isArray(key); else oneinputTemplate">
                <div class="card-block-level1" [hidden]="pi !== activePage">
                    <div *ngFor="let keyLevel1 of key; let i = index" class="card-item-level1" [ngClass]="{'item-left': i === 0 , 'item-right': i === 1}">
                        <ng-container *ngTemplateOutlet="inputTemplate;context:{input: getInput(keyLevel1)}"></ng-container>
                    </div>
                </div>
            </ng-container>
            <ng-template #oneinputTemplate>
                <ng-template *ngTemplateOutlet="inputTemplate;context:{input: getInput(key)}"></ng-template>
            </ng-template>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #inputTemplate let-input="input">
    <ng-container *ngIf="input?.key!=='appeal.MESSAGES_TEMPLATE'; else messagesTemplate">
        <app-dynamic-input *ngIf="input && !input.manualLayout" [hidden]='input.hidden || input.pageIndex !== activePage' [input]="input" [getAdditionalDataFn]="getAdditionalDataFor" [form]="form" [readonly]="!editMode">
        </app-dynamic-input>
    </ng-container>
</ng-template>
