.appeal-approving-selector {
    padding-left: 15px;
    background-color: ivory;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    margin-top: 20px;
}

.rejected {
    color: red;
    content: "Отказано";
}
.accepted {
    color: green;
}

/* Inline таблица стилей #12 | http://localhost:4200/vote/add */

.vi-controls-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 300px);
}

.vi-controls-wrapper-col1 {
    display: grid;
}

.clearfix-line {
    height: 10px;
}

.contact-container {
    padding-top: 10px;
    padding-bottom: 10px;

}

.contact-container-value {
    padding-left: 10px;
}
