<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{label}}</label>
    <div class="ejs-wrapper">
        <ejs-numerictextbox
            [placeholder]="placeholder"
            [ngClass]="viewOpts.inputClass"
            [readonly]='readonly'
            [disabled]="readonly"
            [id]="input.key"
            [min]="input.minValue"
            [max]="input.maxValue"
            [format]="input.editOptions?.format ?? ''"
            [locale]="'ru'"
            [cssClass]="readonly?'e-style-disabled':'readonly'"
            [formControlName]="input.key"
        ></ejs-numerictextbox>
        <!-- <input class="form-control m-font"
               [formControlName]="input.key"
               [id]="input.key"
               [readonly]="readonly"
               [ngClass]="{'readonly': readonly}"
               [ngClass]="viewOpts.inputClass"
               [placeholder]="placeholder"
               (focus)="onFocus()"
               (blur)="onBlur()"
               (input)="onInput($event)"
               (keydown)="inputCheck($event)"
               autocomplete="off"> -->
        <!-- <div class="textareacounter" *ngIf="isFocused && !readonly" >
            <span>{{getCounterLabel()}}</span>
        </div> -->
    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{inputTooltip.message}}</p>
</div>
