<div class="action-toolbar-wrapper btn-group" *ngIf="!isTabs">
    <ng-container *ngFor="let item of buttons">
    <button
        *ngIf="!item.hidden && !item.action.hidden"
        class="btn action-toolbar-item"
        [disabled]="item.action.disabled"
        [ngClass]="getClass(item)"
        (click)="onClick(item)"
    >
        {{ item.action.title }}
    </button>
    </ng-container>
</div>

<div class="tab-container" *ngIf="isTabs">
    <ul class="nav nav-tabs">
        <ng-container *ngFor="let item of buttons">
        <li *ngIf="!item.hidden && !item.action.hidden"
            class="nav-item ng-star-inserted"
            [ngClass]="{ active: item.active }"
        >
            <a
                class="nav-link"
                [ngClass]="{ active: item.active }"
                (click)="onClick(item)"
            >
                <span>{{ item.action.title }}</span
                ><!--
                --></a
            >
        </li>
        </ng-container>
    </ul>
</div>
