<div *ngIf="isUpdate">
    Загрузка ...
</div>

<div *ngIf="!isUpdate">
    <div class="list-actions">
        <app-card-toolbar
            [actionList]="actionList"
            (actionClick)="onActionClick($event)"
        >
        </app-card-toolbar>
    </div>
    <div class="card-wrapper" *ngIf="!isUpdate">
        <div class="card-title"><h4>{{ title }}</h4></div>

        <div class="separator-line top"></div>
        <div>
            <app-settings-card
            #cardForm
            [inputs]="inputs"
            [descriptor]="descriptor"
            [isNewRecord]="isNewRecord"
            [elements]="this.elements"
            [form]="formGroup"
            [data]="data"
            (formInvalid)="formValidEvent($event)"
            (activePageIndex)="activePageIndexChange($event)"
            [editMode]="true"
            ></app-settings-card>

            <!-- <app-simple-card-key-values
                [inputs]="inputs"
                [descriptor]="descriptor"
                [isNewRecord]="isNewRecord"
                [pages]="pagesList"
                [form]="formGroup"
                [data]="data"
                (formInvalid)="formValidEvent($event)"
                (activePageIndex)="activePageIndexChange($event)"
                [editMode]="true"
            ></app-simple-card-key-values> -->
            <div *ngIf="activePage === 0">
                <div class="versions">
                <span><b>Client:</b></span>
                <span>{{this.version}}</span>
                <span><b>Server:</b></span>
                <span>ASPNETCORE_ENVIRONMENT: {{ versionInfo.aSPNETCORE_ENVIRONMENT }}</span>
                <span>appBuildTime: {{ versionInfo.appBuildTime }}</span>
                <span>appConfiguration: {{ versionInfo.appConfiguration }}</span>
                <span>appVersion: {{ versionInfo.appVersion }}</span>
                <span>aspDotnetVersion: {{ versionInfo.aspDotnetVersion }}</span>
                <span>dbVersion: {{ versionInfo.dbVersion }}</span>
                <span>osDescription: {{ versionInfo.osDescription }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
