<div class="attaches-list-wrapper">
    <ng-container *ngFor="let item of attachesFiles">
        <div class="attaches-row">
        <app-dynamic-input-checkbox
            *ngIf="!readonly"
            [form]="form"
            [input]="this.inputFor(item)"
            [readonly]="false"
            [disabled]="false"
            [viewOpts]="{}"
        ></app-dynamic-input-checkbox>
        <img [src]="item.thumb" *ngIf="isPreviewEnabled && item.thumb"
            (click)="download($event, item)"
        >
        <a *ngIf="!isPreviewEnabled || !item.thumb"
        href="a" class="attach-link" (click)="download($event, item)">{{item.name}} ({{item.len}} bytes) </a>
        </div>
    </ng-container>
</div>

<!-- [form]="form"
            (controlBlur)="controlBlur.emit($event)"
            (ontrolFocus)="controlFocus.emit($event)"
[input]="inputFor(item)" -->
