

<div class="list-actions">
    <app-card-toolbar
        [actionList]="actionList"
        [isTabs]="true"
        (actionClick)="onPageClick($event)"
    >
    </app-card-toolbar>
</div>

<div *ngIf="activePage === 1">
    <div
        style="display: inline-block; margin: 20px;">
        <button class="btn btn-sm btn-primary" (click)="startAll()">
            Начать тесты
        </button>
    </div>

    <div *ngFor="let item of tests" class="test-item-wrapper">
        <div class="test-item">
            <div class="state">
                [
                <div [ngSwitch]="item.state" class="container-state">
                    <div *ngSwitchCase="stages.wait" class="state-wait">
                        ...
                    </div>
                    <div *ngSwitchCase="stages.progress" class="state-progress">
                        ->
                    </div>
                    <div *ngSwitchCase="stages.passed" class="state-pass">
                        +
                    </div>
                    <div *ngSwitchCase="stages.failed" class="state-failed">
                        -
                    </div>
                </div>
                ]
            </div>
            <div [ngClass]="{ 'state-failed': item.state === stages.failed }">
                {{ item.title }}
            </div>

            <div
                *ngIf="item.result"
                class="expand-button"
                (click)="expand(item)"
            >
                ...results...
            </div>
        </div>
        <div *ngIf="item.isExpanded" class="expand-area">
            <!-- <div *ngIf="item.isExpanded && item.subs && item.subs.length" class="expand-error-area"> -->
            <pre
                *ngFor="let subtest of item.subs"
                [ngClass]="{
                    'expand-error-area-pre': subtest.state === stages.failed,
                    'expand-passed-area-pre': subtest.state === stages.passed
                }"
                class="expand-error-area-pre"
            >
[ {{ subtest.state === stages.passed ? "+" : "-" }} ] {{ subtest.message }}
            </pre>
            <!-- </div> -->

            <pre *ngIf="item.state!==stages.passed" class="expand-error-area-pre"
                >{{ item.result }}
            </pre>
        </div>
    </div>
</div>

<div *ngIf="activePage === 2">
    <button
        style="display: inline-block; margin: 20px;"
        class="btn btn-sm btn-warning"
        (click)="genButtonsVisible = !genButtonsVisible"
    >
        Нагенерировать
    </button>
    <div *ngIf="genButtonsVisible" style="display: block;">
        <button
            *ngFor="let descr of generators"
            class="btn btn-sm btn-danger"
            (click)="generateData(descr)"
        >
            {{ descr.title }}
        </button>
    </div>
    <pre>{{genLog}}</pre>
</div>
