.test-item {
    display: flex;
    align-items: baseline;
}
.state {
    width: 40px;
    display: flex;
}
.state-failed {
    color: red;
}

.state-pass {
    color: green;
}

.expand-area {
    padding-left: 20px;
    /* background-color: #2F0001; */
}

.expand-error-area-pre {
    color: pink;
    font-size: 12px;
    line-height: 14px;
    background-color: #2F0001;
    margin-bottom: 0;
    white-space: pre-line;
}
.expand-passed-area-pre {
    /* color: white; */
    font-size: 12px;
    line-height: 14px;
    white-space: pre-line;
    /* background-color: #000001; */
    margin-bottom: 0;
}


.expand-button {
    font-size: 12px;
    padding-left: 20px;
    color: darkblue;
    cursor: pointer;
}

.btn {
    margin-right: 10px;
    /* padding-right: 10px; */
}
