@page
@model BIT.MyCity.DeloIntegration.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<p>Login & password:</p>

<form method="post" action="/api/delo/auth">
    Name:
    <input asp-for="Username" />
    <input asp-for="Password" type="password" />
    <input type="submit" />
</form>