<div class="d-flex" id="wrapper">
    <app-side-menu></app-side-menu>
    <div id="page-content-wrapper">
        <app-nav-menu></app-nav-menu>
          <div class="container-fluid" id="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
