<div class="nav-tabs-wrapper">
    <app-card-toolbar
        class="card-form-tab-selector"
        [actionList]="pageList"
        [isTabs]="true"
        (actionClick)="onPageClick($event)"
    >
    </app-card-toolbar>

    <div *ngIf="activePage===0">
        <app-appointment-range>
        </app-appointment-range>
    </div>
    <div *ngIf="activePage===1">
        <app-appointments>
        </app-appointments>
    </div>
</div>
