<div class="card-form-content-wrapper">

    <app-card-toolbar
        class="card-form-tab-selector"
        [actionList]="pageList"
        [isTabs]="true"
        (actionClick)="onPageClick($event)"
    >
    </app-card-toolbar>

    <ng-container *ngFor="let page of elements; let idx = index">
        <ng-container *ngIf="idx === this.activePage">

            <ng-container *ngFor="let group of page.children">
                <ng-container *ngIf="group?.element?.settingNodeType===nodetypes.Group">
                    <ng-container *ngTemplateOutlet="groupOutlet; context: { group: group, hidden: (idx !== this.activePage)}"></ng-container>
                </ng-container>
            </ng-container>

            <div class="settings-container simplekv-table">
                <ng-container *ngFor="let group of page.children">
                    <ng-container *ngIf="group?.element?.settingNodeType===nodetypes.Value">
                        <ng-container *ngTemplateOutlet="inputOutlet; context: { input: this.inputForKey(group.key), hidden: (idx !== this.activePage)}"></ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>


    <!-- <ng-container
        *ngTemplateOutlet="inputRowTemplate; context: { input: item }"
    ></ng-container>

    <div class="settings-container simplekv-table">
        <ng-container *ngFor="let item of inputsOnPage">
            <ng-container
                *ngTemplateOutlet="inputRowTemplate; context: { input: item }"
            ></ng-container>
        </ng-container>
    </div> -->
</div>



<ng-template #groupOutlet let-page="group" let-hidden="hidden">

    <accordion [hidden]="hidden">
        <accordion-group
            [panelClass]="accordionClass()"
            [isOpen]="true">
            <button class="accordion-heading-flex btn btn-link btn-block clearfix" accordion-heading type="button">
                <div class="filter-heading-btn pull-left float-left">{{page.element.description}}</div>

                <!-- <div class="filter-current pull-left " *ngIf="this.headerLabel">Кол-во: {{this.headerLabel}}</div> -->
            </button>

            <div class="simplekv-table">
                <ng-container *ngFor="let group of page.children">
                    <ng-container *ngIf="group?.element?.settingNodeType===nodetypes.Value">
                        <ng-container *ngTemplateOutlet="inputOutlet; context: { input: this.inputForKey(group.key), hidden: false}"></ng-container>
                    </ng-container>
                </ng-container>
            </div>

        </accordion-group>
    </accordion>


</ng-template>


<ng-template #inputOutlet let-input="input" let-hidden="hidden">
        <div
        class="simplekv-table-row"
        [hidden]="hidden"
        *ngIf="input && input.controlType !== types.separator"
    >
        <div class="simplekv-table-cell item-left">
            {{ input.label }}
        </div>
        <div class="simplekv-table-cell item-right">
            <app-dynamic-input
                *ngIf="input"
                [hidden]="input.hidden"
                [input]="input"
                [form]="form"
                [viewOpts]="viewOpts"
            >
            </app-dynamic-input>
        </div>
    </div>

</ng-template>

<!--
<ng-template #inputRowTemplate let-Input="input" let-hidden="hidden">
    <div
        class="simplekv-table-row separator"
        [hidden]="hidden"
        *ngIf="Input.controlType === types.separator"
    >
        <div class="simplekv-table-cell-separator">
            <b>{{ Input.label }}</b>
                <div class="separator-hline"></div>
        </div>

    </div>

    <div
        class="simplekv-table-row"
        [hidden]="hidden"
        *ngIf="Input.controlType !== types.separator"
    >
        <div class="simplekv-table-cell item-left">
            {{ Input.label }}
        </div>
        <div class="simplekv-table-cell item-right">
            <app-dynamic-input
                *ngIf="Input"
                [hidden]="Input.hidden"
                [input]="Input"
                [form]="form"
                [viewOpts]="viewOpts"
            >
            </app-dynamic-input>
        </div>
    </div>
</ng-template> -->
