<div [formGroup]="form" class="dynamic-input-wrapper">
    <label class="form-control-label" [hidden]="!isLabelVisible()">{{input.label}}</label>

    <div *ngIf="readonly" [ngClass]="{'required': isRequired, 'disabled': disabled}">
        <input class="e-input e-small e-bigger" [readonly]="readonly" [attr.disabled]="readonly ? true : null"
               [ngClass]="{'readonly': readonly}" [ngClass]="viewOpts.inputClass" [placeholder]="placeholder"
               value="{{currentValue}}" autocomplete="off">
        <div class="textareacounter" *ngIf="isFocused && !readonly">
            <span>{{getCounterLabel()}}</span>
        </div>
    </div>

    <div class="app-select" *ngIf="!readonly" [ngClass]="{'required': isRequired, 'disabled': disabled}">
        <ng-container *ngIf="isUpdated">
            <ejs-treeview
                #tree
                [id]="input.key"
                [fields]='field'
                [showCheckBox]='true'
                [autoCheck]="false"
                [checkedNodes]="form.controls[input.key].value"
                (drawNode)="onDrawNode($event)"
                (nodeChecked)='onNodeChecked($event)'
            ></ejs-treeview>
        </ng-container>
    </div>
</div>

