<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="close()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- <div class="modal-body"
[ngClass]="{ 'manualCR': !!manualCR }"> -->

<div class="modal-body">

    <p>{{ body }}</p>
    <p *ngIf="bodyBeforeList">{{ bodyBeforeList }}</p>
    <ul *ngIf="bodyList">
        <li *ngFor="let item of bodyList">{{ item }}</li>
    </ul>
    <p *ngIf="bodyAfterList">{{ bodyAfterList }}</p>
</div>
<div class="modal-footer">
    <span *ngFor="let button of buttons">
        <button
            type="button"
            [ngClass]="{
                'btn-primary': button.isDefault,
                'btn-light': !button.isDefault
            }"
            class="btn btn-sm"
            [disabled]="button.isDisabled"
            (click)="click(button)"
        >
            {{ button.title }}
        </button>
    </span>
</div>
