<div class="card-form-content-wrapper">
    <div class="nav-tabs-wrapper" *ngIf="isPagesPresent">
        <app-card-toolbar
            class="card-form-tab-selector"
            [actionList]="pageList"
            [isTabs]="true"
            (actionClick)="onPageClick($event)"
        >
        </app-card-toolbar>
    </div>
    <p></p>

    <div class="page-container" *ngIf="activePage === 2">
        <p>Результаты голосования</p>
        <ng-container *ngTemplateOutlet="resultsTemplate"></ng-container>

    </div>

    <div class="page-container" [hidden]="activePage !== 0">
        <app-simple-edit-form
            [form]="form"
            [hidden]="0 !== activePage"
            [fields]="pages[0].fields"
            [inputs]="inputs"
            [getAdditionalDataFn]="getAdditionalDataFor"
            [readonly]="!editMode"
        ></app-simple-edit-form>
    </div>

    <div class="page-container" [hidden]="activePage !== 1">
        <div *ngIf="isNewRecord">
            <p>Для добавления вопросов сохраните корневой опрос</p>
        </div>

        <div *ngIf="!isNewRecord">

            <accordion [isAnimated]="true" [closeOthers]="true">
                <div class="question-container" *ngFor="let question of questionsDataArray; let i = index">

                <app-question-item #questionComponents
                    [data]="{ vote: question }"
                    [updateData]="false"
                    [isNewRecord]="!question.id"
                    [index]='i+1'
                    [isOpen]="i === openQuestIndex"
                    [headerActions]='questionActionList'
                    (actionEvent)='questionActionEvent(i, question, $event)'
                    (saveDoneEvent)="questionSaveDone(i, question, $event)"
                >


                <accordion [isAnimated]="true" [closeOthers]="true">
                    <ng-container *ngFor="let item of answerItems(question, i); let answ_index = index">
                        <app-vote-item-record
                            [item]="item"
                            [isOpen]="answ_index === openItemIndex"
                            [editMode]="editMode"
                            (valueChanged)="onItemValueChanged(question, i, answ_index, $event)"
                            (deleteItem)="onItemDeleteClick(question, i, answ_index, $event)"
                        ></app-vote-item-record>
                    </ng-container>
                </accordion>
                <ng-container *ngIf="answersImportEn">
                    <ng-container *ngTemplateOutlet="inputTemplate;context: {input: inputImport, opts: { inputClass: 'textarea-answer' }}"></ng-container>
                </ng-container>
                <div class="list-actions" *ngIf="editMode">
                    <app-card-toolbar
                        [actionList]="answerActionList"
                        (actionClick)="onAnswerActionClick(question, i, $event)"
                    >
                    </app-card-toolbar>
                </div>

                <div style="height: 100px;"></div>

                </app-question-item>

            </div>

            <ng-container *ngIf="questionsImportEn">
                <ng-container *ngTemplateOutlet="inputTemplate;context: {input: inputImport, opts: { inputClass: 'textarea-answer' }}"></ng-container>
            </ng-container>
            <div class="list-actions" *ngIf="editMode">
                <app-card-toolbar
                    [actionList]="moreActionList"
                    (actionClick)="questionActionEvent(null, null, $event)"
                >
                </app-card-toolbar>
            </div>
            <div style="height: 500px;"></div>
        </accordion>
        </div>
    </div>
</div>

<ng-template #inputTemplate let-Input="input" let-opts="opts">
    <app-dynamic-input
        *ngIf="Input"
        [hidden]="Input.hidden"
        [input]="Input"
        [viewOpts]="opts"
        [form]="form"
    >
    </app-dynamic-input>
    <!-- (keydown)="onKeyDown($event)" -->
</ng-template>


<ng-template #resultsTemplate>
    <div class="results-container">
        <div class="results-summary">
        Участников: {{resultTotalCounter()}}
        </div>
        <div class="results-question" *ngFor="let question of this.initial.voteRoot.votes; let questIndex = index">
            Вопрос #{{questIndex}}: {{question.name}}
            <ng-container *ngFor="let answer of answersListFor(question); let first = first; let last = last">
                <div class="results-answer-block" [ngClass]="{ first: first, last: last }">
                    <div class="results-answer-text">
                        {{answer.name}} - {{calcStatPercents(question.usersCount, answer.counter)}}% ({{answer.counter}})
                    </div>
                    <div class="results-answer-bar"
                        [ngStyle]="{'width.%': calcStatPercents(question.usersCount, answer.counter)}"
                    ></div>
                </div>
            </ng-container>
            <div class="results-offers-block" *ngIf="question.offerEnabled && question.offersCount">
                <div class="results-offers-header">
                    Варианты пользователей
                </div>
                <ng-container *ngFor="let offer of question.offers">
                    <div class="results-offers-text">
                        {{offer.text}}
                    </div>
                    <!-- <div class="results-offers-text">
                        {{offer.text}}
                    </div>
                    <div class="results-offers-text">
                        {{offer.text}}
                    </div> -->
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>
