.question-container {
    margin-bottom: 10px;
}

.results-question {
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.results-answer-block {
    margin-left: 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    position: relative;
    display: flex;
    height: 32px;
}

.results-answer-block.last {
    border-bottom: 1px solid gray;
}

.results-answer-text {
    padding: 3px;
    margin-left: 10px;
    left: 0;
    position: absolute;
}

.results-answer-bar {
    /* width: 10%; */
    background-color: aquamarine;
}

.results-offers-block {
    margin-left: 10px;
}

.results-offers-text {
    border-left: 5px solid yellowgreen;
    margin: 10px;
    padding-left: 10px;
}
.results-offers-header {
    margin-top: 10px;
}
