<div [formGroup]="form" *ngIf="isConfigured"
     class="dynamic-input-wrapper">
    <label
        class="form-control-label"
        [hidden]="!isLabelVisible()"
        [attr.for]="input.key">{{input.label}}</label>
    <div class="d-flex align-items-center w-100">
        <div style="max-width: 200px; min-width: 200px">
            <app-dynamic-input-select
                [form]="innerForm"
                [input]="selectInput"
                [readonly]="readonly || input.readonly"
                [disabled]="disabled"
                [viewOpts]="selectInputViewOptions"
                (controlBlur)="controlBlur.emit($event)"
                (controlFocus)="controlFocus.emit($event)"
            ></app-dynamic-input-select>
        </div>
        <div class="ml-3 w-100 d-flex align-items-center p-0">
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.Range">
                <ng-container *ngTemplateOutlet="rangeTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.SingleDay">
                <ng-container *ngTemplateOutlet="singleDayTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.CurrentDay">
                <ng-container *ngTemplateOutlet="currentDayTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.CurrentDayPlusN">
                <ng-container *ngTemplateOutlet="currentDayPlusNTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.PlusNAndBefore">
                <ng-container *ngTemplateOutlet="plusNAndBeforeTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.PlusNAndLater">
                <ng-container *ngTemplateOutlet="plusNAndLaterTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.CurrentWeek">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.CurrentMonth">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.CurrentQuarter">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.CurrentYear">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.PrevWeek">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.PrevMonth">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.PrevQuarter">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.PrevYear">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.LastWeek">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.LastMonth">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.LastQuarter">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentMode === DateRangeExtendedModes.LastYear">
                <ng-container *ngTemplateOutlet="rangeDisabledTemplate"></ng-container>
            </ng-container>
        </div>

    </div>
    <p class="alert alert-danger" *ngIf="inputTooltip.visible && inputTooltip.message">{{inputTooltip.message}}</p>
</div>

<ng-template #startDateTemplate let-disabled="disabled">
    <app-dynamic-input-date
        [form]="innerForm"
        [input]="dateStartInput"
        [readonly]="readonly || input.readonly"
        [disabled]="disabled"
        [viewOpts]="selectInputViewOptions"
        (controlBlur)="controlBlur.emit($event)"
        (controlFocus)="controlFocus.emit($event)"
    ></app-dynamic-input-date>
</ng-template>

<ng-template #endDateTemplate let-disabled="disabled">
    <app-dynamic-input-date
        [form]="innerForm"
        [input]="dateEndInput"
        [readonly]="readonly || input.readonly"
        [disabled]="disabled"
        [viewOpts]="selectInputViewOptions"
        (controlBlur)="controlBlur.emit($event)"
        (controlFocus)="controlFocus.emit($event)"
    ></app-dynamic-input-date>
</ng-template>

<ng-template #integerValueTemplate let-disabled="disabled">
    <app-dynamic-input-number
        [form]="innerForm"
        [input]="integerValueInput"
        [readonly]="readonly || input.readonly"
        [disabled]="disabled"
        [viewOpts]="selectInputViewOptions"
        (controlBlur)="controlBlur.emit($event)"
        (controlFocus)="controlFocus.emit($event)"
    ></app-dynamic-input-number>
</ng-template>

<ng-template #rangeTemplate>
    <div class="col-6">
        <ng-container *ngTemplateOutlet="startDateTemplate; context: { disabled: false }"></ng-container>
    </div>
    <div class="col-6 pr-0">
        <ng-container *ngTemplateOutlet="endDateTemplate; context: { disabled: false }"></ng-container>
    </div>
</ng-template>

<ng-template #rangeDisabledTemplate>
    <div class="col-6">
        <ng-container *ngTemplateOutlet="startDateTemplate; context: { disabled: true }"></ng-container>
    </div>
    <div class="col-6 pr-0">
        <ng-container *ngTemplateOutlet="endDateTemplate; context: { disabled: true }"></ng-container>
    </div>
</ng-template>

<ng-template #currentDayTemplate>
    <div class="col-6">
        <ng-container *ngTemplateOutlet="startDateTemplate; context: { disabled: true }"></ng-container>
    </div>
    <div class="col-6 pr-0">
    </div>
</ng-template>

<ng-template #singleDayTemplate>
    <div class="col-6">
        <ng-container *ngTemplateOutlet="startDateTemplate; context: { disabled: false }"></ng-container>
    </div>
    <div class="col-6">
    </div>
</ng-template>

<ng-template #currentDayPlusNTemplate>
    <div class="" style="min-width: 150px">
        <ng-container *ngTemplateOutlet="integerValueTemplate; context: { disabled: false }"></ng-container>
    </div>
    <div class="w-100 d-flex align-items-center p-0">
        <div class="col-6">
            <ng-container *ngTemplateOutlet="startDateTemplate; context: { disabled: true }"></ng-container>
        </div>
        <div class="col-6 pr-0">
            <ng-container *ngTemplateOutlet="endDateTemplate; context: { disabled: true }"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #plusNAndBeforeTemplate>
    <div class="" style="min-width: 150px">
        <ng-container *ngTemplateOutlet="integerValueTemplate; context: { disabled: false }"></ng-container>
    </div>
    <div class="w-100 d-flex align-items-center p-0">
        <div class="col-6">
            <ng-container *ngTemplateOutlet="startDateTemplate; context: { disabled: true }"></ng-container>
        </div>
        <div class="col-6 pr-0">
            <ng-container *ngTemplateOutlet="endDateTemplate; context: { disabled: true }"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #plusNAndLaterTemplate>
    <div class="" style="min-width: 150px">
        <ng-container *ngTemplateOutlet="integerValueTemplate; context: { disabled: false }"></ng-container>
    </div>
    <div class="w-100 d-flex align-items-center p-0">
        <div class="col-6">
            <ng-container *ngTemplateOutlet="startDateTemplate; context: { disabled: true }"></ng-container>
        </div>
        <div class="col-6 pr-0">
            <ng-container *ngTemplateOutlet="endDateTemplate; context: { disabled: true }"></ng-container>
        </div>
    </div>
</ng-template>


<!--<app-dynamic-input-claimselect-->
<!--    *ngSwitchCase="types.claimSelect"-->
<!--    [form]="form"-->
<!--    [input]="input"-->
<!--    [readonly]="readonly || input.readonly"-->
<!--    [disabled]="disabled"-->
<!--    [viewOpts]="viewOpts"-->
<!--    (controlBlur)="controlBlur.emit($event)"-->
<!--    (controlFocus)="controlFocus.emit($event)"-->
<!--&gt;</app-dynamic-input-claimselect>-->
