<div *ngIf="isUpdate">
    Загрузка ...
</div>
<div *ngIf="!isUpdate">
    <div class="list-actions">
        <app-card-toolbar
            [actionList]="actionList"
            (actionClick)="onActionClick($event)"
        >
        </app-card-toolbar>
    </div>
    <div class="card-wrapper">
        <div class="card-title"><h4>{{ title }}</h4></div>

        <div [ngSwitch]="card.entityName" class="container-fluid">
                <app-user-card *ngSwitchCase="'user'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    (editModeChanged)="editModeChangedEvent($event)"
                    [editMode]="true"
                ></app-user-card>
                <app-appeal-ul-card *ngSwitchCase="'appeal-ul'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    [actionList]="actionList"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="editMode"
                ></app-appeal-ul-card>
                <app-appeal-citizen-card *ngSwitchCase="'appeal-citizen'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    [actionList]="actionList"
                    (actionRequest)="onActionClick($event)"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="editMode"
                ></app-appeal-citizen-card>
                <app-appeal-citizen-card *ngSwitchCase="'appeal-ex-c'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    [actionList]="actionList"
                    (actionRequest)="onActionClick($event)"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="editMode"
                ></app-appeal-citizen-card>
                <app-appeal-feedback-card *ngSwitchCase="'appeal-feedback'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [isCommentsAttaches]="false"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    [actionList]="actionList"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="editMode"
                ></app-appeal-feedback-card>
                <app-vote-card *ngSwitchCase="'voteRoot'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="true"
                ></app-vote-card>
                <app-appointments-card *ngSwitchCase="'appointment'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="true"
                ></app-appointments-card>
                <app-simple-card-key-values *ngSwitchCase="'settings'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="true"
                ></app-simple-card-key-values>
                <app-rubric-card *ngSwitchCase="'rubric'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="true"
                ></app-rubric-card>
                <app-topic-card *ngSwitchCase="'topic-c'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="true"
                ></app-topic-card>
                <app-report-card *ngSwitchCase="'reports'"
                    #cardForm
                    [inputs]="inputs"
                    [descriptor]="descriptor"
                    [isNewRecord]="isNewRecord"
                    [pages]="pagesList"
                    [form]="formGroup"
                    [data]="data"
                    (formInvalid)="formValidEvent($event)"
                    (formReady)="formReadyEvent($event)"
                    [editMode]="true"
                ></app-report-card>





            <app-news-card *ngSwitchCase="'news'"
                #cardForm
                [inputs]="inputs"
                [descriptor]="descriptor"
                [isNewRecord]="isNewRecord"
                [pages]="pagesList"
                [form]="formGroup"
                [data]="data"
                [getAdditionalDataFn]="getAdditionalDataFor"
                (formInvalid)="formValidEvent($event)"
                [editMode]="true"
            >

            </app-news-card>
            <app-simple-card *ngSwitchDefault
                #cardForm
                [inputs]="inputs"
                [descriptor]="descriptor"
                [isNewRecord]="isNewRecord"
                [pages]="pagesList"
                [form]="formGroup"
                [data]="data"
                [getAdditionalDataFn]="getAdditionalDataFor"
                (formInvalid)="formValidEvent($event)"
                [editMode]="true"
            ></app-simple-card>
        </div>
    </div>
</div>
